<h1>Files</h1>

<p>This central file directory allows you to upload images that can be used on character, scene and wiki pages.  For help uploading and using images, see the <a href="/help/web_files">online help</a>.</p>

<% @files.sort.each do |file| %>
<p><a href="/file/detail?file=<%= File.basename(file) %>"><%= File.basename(file) %></a> <%= file_size_kb(file) %>kB 
</p>
<% end %>

<hr/>

<% if is_approved? %>
  <div class="pull-right">
      <a href="/files/upload" class="btn btn-primary">Upload New</a>
  </div>
<% end %>
