<h3>Gallery</h3>
<div class="hint">Enter filenames from <a href="/files" target="blank">here</a>, one per line.</div>
<p>
    <textarea name="gallery" rows="5" "50"><%= @char.profile_gallery %></textarea>

</p>