<h3>Gallery</h3>
<div class="hint">Upload images in the Files section below and then enter their filenames here, one per line, to add them to your character's image gallery.</div>
<p>
    <textarea name="gallery" rows="5" "50"><%= @char.profile_gallery %></textarea>

</p>