<h1>Characters</h1>


<% @chars.each do |c| %>
    <div>
        <% if c.icon %>
         <a href="/char/<%= c.id %>">
          <img class="log-icon" src="<%= c.icon %>" 
             title="<%= c.name %> - <%= c.group('Position') %>" />
         </a>
         <% end %>
    </div>
<% end %>
