<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#scenesindex">+</a></li>
    <li><a data-toggle="tab" href="#logs">Logs</a></li>
</ul>


<div class="tab-content">

  <div id="scenesindex" class="tab-pane fade in active">
      <div class="tab-cover">Scenes</div>
  </div>
  
  <div id="logs" class="tab-pane fade ">
  
      <ul>
        <% @char.scenes_starring.select { |s| s.shared }.reverse.each do |s| %>
        <li><a href="/scene/<%= s.id %>"><%= s.date_title %></a> 
        <%= erb :"scenes/scene_tag", :locals => { scene: s } %>
         </li>
        <% end %>
      </ul>
      
  </div>
 </div>
  