<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#supplementalindex">+</a></li>
    <% @char.profile.each do |section, data| %>
        <li><a data-toggle="tab" href="#<%= section.parameterize('_') %>"><%= section %></a></li>
    <% end %>
</ul>


<div class="tab-content">

  <div id="supplementalindex" class="tab-pane fade in active">
      <div class="tab-cover">Supplemental Information</div>
  </div>
  
  <% @char.profile.each do |section, data| %>
  
  <div id="<%= section.parameterize('_') %>" class="tab-pane fade ansi">
  
      <%= format_markdown_for_html data %>
      
  </div>
  
  <% end %>
  
 </div>
  