    <% @char.profile.each do |section, data| %>
        
        
        <div class="panel panel-info">
            <div class="panel-heading">
                <%= section %>
            </div>
            
            <div class="panel-body">
            
                <div class="ansi">
                <%= format_output_for_html data %>
                </div>
            </div>
        </div>
    <% end %>

