<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#systeminfo">+</a></li>
  <% if @char.on_roster? %>
 <li><a data-toggle="tab" href="#bg">Background</a></li>

  <% end %>

  <li><a data-toggle="tab" href="#sheet">Sheet</a></li>
</ul>

<div class="tab-content">
  <div id="systeminfo" class="tab-pane fade in active">
      <div class="tab-cover">System Information</div>
  </div>

  <% if @char.on_roster? %>
  <div id="bg" class="tab-pane fade">
      <div class="ansi">
          <%= format_output_for_html @char.background %></p>
      </div>

  </div>
  <% end %>
</div>
