       <div>
       {{#each gallery as |galleryItem|}}
       
         <div class="thumbnail-gallery">
         <a href="/file/{{galleryItem}}"> <img src="/game/uploads/{{galleryItem}}" class="thumbnail"/> </a>
         </div>
       {{/each}}
       </div>
       <div class="clearfix"/>