<div class="row musicplayer-wrap">
  <div class="row">
    <div class="col col-xs-3 col-sm-1">

           <div data-video="{{youtubecode}}"  
                 data-autoplay="0"         
                 data-loop="1"             
                 id="youtube-audio-{{id}}"
                 class="youtube-audio-container">
          </div>

    </div>

        <div class="col col-xs-8 col-sm-10 musicplayer-description">
            {{{description}}}
        </div>

    </div>
</div>