<html>
<head>
    <title>{{mush_name}} Archive - {{page_title}}</title>
</head>
<body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    


    <link rel="shortcut icon" href="game/uploads/theme_images/favicon.ico">
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
    <link integrity="" rel="stylesheet" href="game/styles/ares.css">
    
    <style>
        .header-wrap {
          background-image: url("game/uploads/theme_images/background.png");
       }

       .log-wrap {
         background-image: url("game/uploads/theme_images/box-bg.png"); 
       }
       

       .profile-wrap {
         background-image: url("game/uploads/theme_images/box-bg.png"); 
       }
       
    </style>
    
    <div class="container-fluid">
        <div class="header-wrap">


           <div class="title-wrap">
       
               <div class="row">
                   <div class="col-md-12">
                      <div class="site-title"><a href="index.html">{{mush_name}} Archive</a></div>
                      <div class="site-subtitle">&nbsp;</div>
                  </div>
               </div>

           </div>
           
           <nav class="navbar navbar-inverse">
               
            <div id="navbar" class="navbar-collapse collapse">

              <ul class="nav navbar-nav navbar-right">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="http://arescentral.aresmush.com">AresCentral</a></li>
                  <li><a href="characters.html">Characters</a></li>
                  <li><a href="scenes.html">Scenes</a></li>
                  <li><a href="wiki.html">Wiki</a></li>
              </ul>
            </div>
          </nav>
           
    </div>                                  
                                  
                                  
        
        
     <div class="body-wrap">
 
       <div class="row">
           <div class="col-md-12 body-container">
           
{{{body}}}
     </div>
   </div>
</div>

        
</body>
</html>

