<html>
<head>
    <title>{{mush_name}} Archive - {{page_title}}</title>
</head>
<body class="wiki-export">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>



    <link rel="shortcut icon" href="game/uploads/theme_images/favicon.ico">    
    
    <link integrity="" rel="stylesheet" href="game/styles/ares.css">
    
    <style>
        .header-wrap {
          background-image: url("game/uploads/theme_images/background.png");
       }

       .log-wrap {
         background-image: url("game/uploads/theme_images/box-bg.png"); 
       }
       

       .profile-wrap {
         background-image: url("game/uploads/theme_images/box-bg.png"); 
       }
       
    </style>
    
    <div class="container-fluid">
        <div class="header-wrap">


           <div class="title-wrap">
       
               <div class="row">
                   <div class="col-md-12">
                      <div class="site-title"><a href="index.html">{{mush_name}} Archive</a></div>
                      <div class="site-subtitle">&nbsp;</div>
                  </div>
               </div>

           </div>
           
           <nav class="navbar navbar-expand-lg navbar-dark">
             <div class="collapse navbar-collapse" id="navbar">
               <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="characters.html" class="nav-link">Characters</a></li>
                    <li class="nav-item"><a href="scenes.html" class="nav-link">Scenes</a></li>
                    <li class="nav-item"><a href="locations.html" class="nav-link">Locations</a></li>
                    <li class="nav-item"><a href="wiki.html" class="nav-link">Wiki</a></li>
                </ul>
              </div>
          </nav>
           
    </div>                                  
                                  
                                  
        
        
     <div class="body-wrap">
 
       <div class="row">
           <div class="col-md-12 body-container">
           
{{{body}}}
     </div>
   </div>
</div>

        
</body>
</html>

