real_database.yml
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
todo.txt
logs/

# YARD artifacts
.yardoc
_yardoc
doc/
game/db/mongo.conf
game/db/data
game/db/*.log
game/db/*.pid
