calendar.ics
tinkerfoo.rb
.sass-cache
*.log
secrets.yml
errors.txt
save_pid.txt
.DS_Store
real_database.yml
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
html
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
todo.txt
logs/
killares

# YARD artifacts
.yardoc
_yardoc
doc/
game/db/mongo.conf
game/db/data
game/db/*.log
game/db/*.pid
game/plugins/website/web/public/files
