<h1><%= @char.name %> Version Comparison</h1>


<div class="diff">
<%= @diff %>
</div>


<hr/>

<a href="/char/<%= @char.name %>/source/<%= @current.id %>"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to Page</a>