       <div>

          <h3><%= title %></h3>
          
         
          <% chars.sort_by { |c| c.name }.each do |c| %>
    
          <div class="profile-gallery">
              <%= erb :"/char_icon", :locals => { char: c } %>
          </div>
          <% end %>
      
       </div>

     <div class="clearfix"> </div>
