 <div class="thumbnail-gallery">
 <% gallery.each do |galleryItem| %>
 
   <div class="thumbnail-gallery-item">
   <a href="/file/<%= galleryItem %>"> <img src="/game/uploads/<%= galleryItem %>" class="thumbnail"/> </a>
   </div>
 <% end %>
 </div>
