<div class="row musicplayer-wrap">
  <div class="row">
    <div class="col col-xs-3 col-sm-1">

      <a href="https://youtube.com/watch?v=<%= youtubecode %>" target="_blank"><img src="/game/uploads/theme_images/musicplayer-inactive.png"/></a>

  </div>

      <div class="col col-xs-8 col-sm-10 musicplayer-description">
          
          <%= description %>
      </div>

  </div>
</div>