<a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/<%= board_id %>" target="_blank"><i class="fa fa-frown"></i> The Pinterest embed doesn't always load right.  Try reloading the page, or follow this link to the board.</a>
