<script src="//ajaxorg.github.io/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/scripts/ace_editor.js"></script>


<% if @error %>
<div class="alert alert-danger">                
    <%= @error %>      
</div>
<% end %>

<h1>Tinker Command</h1>

<form method="POST" action="/admin/tinker/update">
    
    <div id="editor" class="ace-editor"><%= @code %></div>
    <input type="hidden" id="path" name="path" value="tinker.rb" />
    <input type="hidden" id="contents" name="contents" />
    
<p>
<a href="/admin"><button type="button" class="btn btn-default">Cancel</button></a>
<button type="submit" class="btn btn-primary">Save</button>
</p>
</form>

<hr/>
<p>If you mess up your tinker code and get it in a bad state, you can always restore the original.</p>
<p>Be aware: This will erase any of your tinkering changes.  No other code will be affected.</p>

<form method="POST" action="/admin/tinker/reset">
<button type="submit" class="btn btn-danger">Reset Tinker Code</button>
</form>
