<h1>Web Portal Options</h1>

<p>This screen lets you set various options for the Web Portal.  For help see <a href="/help/game/website">Configuring the Web Portal</a>.  There are also some advanced options accessible under <a href="/admin/config">Advanced Configuration</a>.</p>

<form method="POST" action="/admin/config_web/update">


<div class="panel panel-primary">
    <div class="panel-heading">
        Web Portal Options
    </div>
    
    <div class="panel-body">
        
        <div class="form-group row">
    
        <label for="website_tagline" class="col-xs-3 col-form-label">Home Page Tagline:</label> 
        <input type="text" name="website_tagline" size="100" value="<%= @config['website_tagline'] %>"/>

        </div>

        <div class="form-group row">
    
        <label for="website_welcome" class="col-xs-3 col-form-label">Home Page Welcome Text:</label>         
        <textarea name="website_welcome" rows="10"><%= format_input_for_html( @config['website_welcome'] ) %></textarea>
        
        

        </div>
    </div>
</div>

<p>
<a href="/admin"><button type="button" class="btn btn-default">Cancel</button></a>
<button type="submit" class="btn btn-primary">Save</button>
</p>
</form>