<h1>Game Skin (Lines)</h1>

<p>This screen lets you configure the game's "skin" or appearance.  For help see <a href="/help/game/skin">Configuring the Game Skin</a>.</p>

<form method="POST" action="/admin/config_skin/update">


<div class="panel panel-primary">
    <div class="panel-heading">
        Lines
    </div>
    
    <div class="panel-body">
        
      <div class="form-group row">
  
      <label for="header" class="col-xs-2 col-form-label">Header:</label> 
      <input type="text" name="header" size="100" value="<%= @skin['header'] %>"/>

      </div>

      <div class="form-group row">
  
      <label for="footer" class="col-xs-2 col-form-label">Divider:</label> 
      <input type="text" name="footer" size="100" value="<%= @skin['footer'] %>"/>

      </div>

      <div class="form-group row">
  
      <label for="divider" class="col-xs-2 col-form-label">Footer:</label> 
      <input type="text" name="divider" size="100" value="<%= @skin['divider'] %>"/>

      </div>

      <div class="form-group row">
  
      <label for="plain" class="col-xs-2 col-form-label">Plain Line:</label> 
      <input type="text" name="plain" size="100" value="<%= @skin['plain'] %>"/>

      </div>
        
    </div>
</div>


<p>
<a href="/admin"><button type="button" class="btn btn-default">Cancel</button></a>
<button type="submit" class="btn btn-primary">Save</button>
</p>
</form>