<h1>Upload <%= @name %></h1>


<h2>Current Image</h2>
<p>
    <img src="/images/<%= @filename %>" class="image-container"/>
</p>

<form method="POST" action="/admin/upload" enctype="multipart/form-data">

<div class="panel panel-info">
<div class="panel-body">


<h2>New Image</h2>
</p>

    <input type="hidden" name="filename" value="<%= @filename %>"/>
    <input type="hidden" name="allow_overwrite" value="true"/>
    <input type="hidden" name="return_to" value="/admin">
        
<p>
<input type="file" name="file"/>
</p>
<br/>
<input type="submit" class="btn btn-primary" value="Upload">
</div>
</div>


</form>