<h1>Delete Pose</h1>

    <form method="POST" action="/scene/pose/<%= @pose.id %>/delete">
        

<p>
    <%= @pose.pose %>
</p>      

        <div class="alert alert-danger">
            <p>Deleting a pose cannot be undone!  Are you sure?</p>
  
        <p><input type="submit" value="Yes"></p>
        
        </div>
        
    </form>