<h1>Edit Pose</h1>

    <form method="POST" action="/scene/pose/<%= @pose.id %>/edit">
        
    <p>
        <label for="character" class="col-xs-2 col-form-label">Character:</label>
        
        <select name="character">
          <% AresMUSH::Chargen.approved_chars.sort_by { |c| c.name }.each do |c| %>
          <option value="<%= c.id %>" <% if @pose.character.id == c.id %> selected <% end %> ><%= c.name %></option>
          <% end %>
        </select>
    </p>
    
    <p>
    <label for="pose" class="col-xs-2 col-form-label">Pose:</label>
    <textarea name="pose" rows="10" cols="100"><%= format_input_for_html(@pose.pose) %></textarea>
    </p>


    <p>
        <label for="is_setpose" class="col-xs-2 col-form-label">Set Pose?:</label>
        
          <input type="checkbox" name="is_setpose" value="is_setpose" 
                 <% if @pose.is_setpose? %> checked <% end %>> 
             </p>


        <p><input type="submit" value="Save"></p>
        
    </form>