<h1>Character Generation</h1>

<p>To go through character generation, you must first create a character.</p>


<p>If you have already created a character in the game, <a href="/login">log in</a> to proceed.</p>

<p>Otherwise, <a href="/register">register now</a>.</p>