
<div class="panel panel-primary">
    <div class="panel-heading">
        Admin Tasks
    </div>
    
    <div class="panel-body">
        
        <% if @reboot_required %>
            <div class="alert alert-warning">
              <strong>Reboot Required!</strong> Your operating system is indicating that your server needs to be rebooted - probably to finish installing automatic updates.  Please reboot at your earliest convenience.
            </div>
        <% end %>
        <a href="/setup" class="btn btn-default">Edit Game Info</a>

        <a href="/config" class="btn btn-default">Configure the Game</a>

        <a href="/logs" class="btn btn-default">View Logs</a></p>

        <a href="/tinker" class="btn btn-default">Tinker with Code</a></p>

    </div>
</div>

<div class="panel panel-danger">
    <div class="panel-heading">
        Shutdown
    </div>
    
    <div class="panel-body">
        <p>This button will kill your game process.  This is a rough way to shut down the game, and should only be used if the in-game <code>shutdown</code> command isn't working.  You will have to log into the server shell to restart the game.</p>
        
        <p><a href="/shutdown" class="btn btn-danger">Shut Down Game</a></p>
    </div>
</div>