
<div class="panel panel-primary">
    <div class="panel-heading">
        Admin Tasks
    </div>
    
    <div class="panel-body">
        
        <a href="/setup" class="btn btn-default">Edit Game Info</a>

        <a href="/config" class="btn btn-default">Configure the Game</a>

        <a href="/logs" class="btn btn-default">View Logs</a></p>

    </div>
</div>

<div class="panel panel-danger">
    <div class="panel-heading">
        Shutdown
    </div>
    
    <div class="panel-body">
        <p>This button will kill your game process.  This is a rough way to shut down the game, and should only be used if the in-game <code>shutdown</code> command isn't working.</p>
        
        <p><a href="/shutdown" class="btn btn-danger">Shut Down Game</a></p>
    </div>
</div>