<h1>Characters</h1>

<table class="table table-striped">
    <tbody>
<% @chars.each do |c| %>
    <tr><td> 
        <a href="/char/<%= c.id %>"><%= c.name %></a>
    </td></tr>
<% end %>
    </tbody>
</table>