<h1>Logs</h1>

<p>Coders use log files to troubleshoot code problems.  They contain detailed information about what the code is doing.  Some commands (pages, poses, channel chat, connect passwords) are <b>not</b> logged, for player privacy.</p>

<ul>
<% @logs.each_with_index do |l, i| %>
    <li><a href="/log/<%= File.basename(l) %>"><%= i + 1 %></a></li>
<% end %>
</ul>
