
<script src="/play.js"></script>
<script src="/ansi_up.js"></script>

<div class="alert alert-warning">If you reload or leave this page, it will close your connection to the game.</div>

<div>
        <button class="connectButton btn-success">Connect</button>
        
        
        <button class="helpButton btn-default">Help</button>
        <button class="whoButton btn-default">Who</button>
        <button class="tourButton btn-default">Tour</button>
        <button class="disconnectButton btn-danger">Disconnect</button>
</div>
        
        <div id="console"></div>
        
        <input type="hidden" id="charId" name="charId" value="<%= @user ? @user.id : ' ' %>">
        <input type="hidden" id="charToken" name="charToken" value="<%= @user ? @user.password_hash : ' ' %>">
        <textarea id="sendMsg"></textarea>
     <button class="sendButton btn-primary">Send Text</button>
        
        <div id="debug"></div>
        
        