<% if @error %>
<div class="alert alert-danger">                
    <%= @error %>      
</div>
<% end %>

<h1>Tinker Command</h1>

<form method="POST" action="/tinker/update">
<textarea name="tinkerCode" rows="40" cols="100" style="font-family:courier"><%= @code %></textarea>

<p>
<a href="/admin"><button type="button" class="btn btn-default">Cancel</button></a>
<button type="submit" class="btn btn-primary">Save</button>
</p>
</form>