/* -------------------------
BASIC CONTAINERS
------------------------- */
@import url("https://fonts.googleapis.com/css?family=Libre Baskerville");
.container {
  background-color: #1A1B1C;
  margin: 0;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px; }

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  background-color: #1A1B1C; }

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  padding: 0px; }

.header-wrap {
  background-image: url("/game/uploads/theme_images/background.png");
  background-size: cover;
  height: 200px;
  background-position: center; }

.title-wrap {
  height: 149px;
  color: #d1d2d3;
  padding: 10px;
  padding-left: 20px;
  padding-top: 21px;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.25); }

.body-wrap {
  padding: 0px 20px 0px 20px;
  background-color: #1A1B1C; }

.body-container {
  padding: 10px; }

.centered {
  text-align: center; }

.thumbnail {
  max-width: 100px;
  max-height: 100px; }

.thumbnail-gallery {
  height: 150px;
  width: 150px;
  float: left; }

.code-editor {
  font-family: Consolas,Monaco,Lucida Console,monospace; }

.markdown-editor {
  padding: 0px;
  margin-bottom: 5px; }

.markdown-preview {
  width: 98%;
  padding: 5px;
  margin: 0px 10px 10px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #1A1B1C;
  color: #333333;
  border: 1px solid #dddddd; }

.markdown-editor textarea {
  margin-top: 0px; }

.markdown-controls {
  margin-top: 3px;
  padding: 5px; }

.markdown-control-toggle {
  margin-left: 10px;
  margin-right: 5px;
  padding: 5px 10px 10px 10px;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd; }

.markdown-control-toggle.active {
  background-color: #383A4F;
  color: #d1d2d3;
  border-bottom: 0px; }

.idle-status, .app-status, #console, #console pre, #sendMsg, #sendMsg2, #manageLog {
  white-space: pre-wrap;
  background-color: black;
  color: white;
  font-family: "Lucida Console", Monaco, 'Andale Mono', 'Courier New', Courier, monospace;
  font-size: 14px;
  padding: 10px; }

code {
  white-space: pre-wrap;
  color: #383A4F;
  font-family: "Lucida Console", Monaco, 'Andale Mono', 'Courier New', Courier, monospace;
  font-size: 14px; }

#console pre, #console p {
  padding: 0px;
  margin: 0px;
  border: none; }

.inline-block {
  display: inline-block; }

.ember-basic-dropdown-content {
  z-index: 3001; }

.modal-content {
  background-color: #1A1B1C; }

td > ul {
  padding-inline-start: 10px; }

/* -------------------------
NAVIGATION
------------------------- */
a {
  color: #748BA5;
  text-decoration: none; }

a:hover,
a:focus {
  color: #383A4F;
  text-decoration: none; }

.user-bar {
  padding-right: 10px; }

.user-bar a {
  color: #d1d2d3; }

.header-wrap nav {
  background-color: rgba(0, 0, 0, 0.45);
  border: none;
  padding-left: 10px;
  padding-right: 10px; }

.navbar-inverse .navbar-nav > li > a {
  color: #d1d2d3; }

.navbar-inverse .navbar-nav > li > a:hover {
  color: #748BA5; }

.navbar {
  z-index: 2000; }

.navbar-collapse.in {
  background-color: #000; }

.toc {
  padding: 10px;
  background-color: #dddddd;
  width: 300px;
  max-width: 100%;
  border: 1px solid white;
  box-shadow: 5px 5px 5px #748BA5;
  padding: 15px;
  margin: 15px 15px 15px 0px;
  border-radius: 8px; }

.toc li {
  list-style-type: square; }

/* -------------------------
GENERAL HTML ELEMENTS
------------------------- */
h1 {
  background-color: #383A4F;
  padding: .1em 1.2em;
  color: #d1d2d3;
  font-weight: normal;
  border: 3px solid #5B5760;
  letter-spacing: 0.1em;
  -moz-border-radius: 0px 25px;
  -webkit-border-radius: 0px 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px; }

h2 {
  padding-top: 20px;
  padding-bottom: 10px; }

td {
  padding: 5px; }

textarea.pre {
  font-family: Consolas,Monaco,Lucida Console,monospace; }

pre {
  border: 0;
  padding: 0;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: normal;
  word-break: normal;
  overflow-x: hidden;
  overflow-wrap: normal;
  background-color: inherit; }

.ace-editor {
  position: relative;
  height: 500px;
  width: 100%;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

blockquote {
  margin: 0.4em 0;
  width: 80%;
  padding: 10px;
  font-size: 1em;
  background-color: #dddddd;
  border: 0px;
  border-left: 1px solid #748BA5;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 40px;
  -webkit-margin-end: 40px; }

pre code {
  border: 2px solid #dddddd;
  border-radius: 5px;
  font-size: 1em;
  margin: 0.4em 0;
  width: 700px;
  padding: 10px;
  overflow: auto;
  word-wrap: break-word;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 40px;
  -webkit-margin-end: 40px; }

th {
  background-color: #383A4F;
  color: #d1d2d3;
  padding: 8px; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 8px; }

textarea {
  width: 98%;
  padding: 5px;
  margin: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #1A1B1C;
  color: #333333;
  border: 1px solid #dddddd; }

body {
  color: #333333;
  background-color: #1A1B1C; }

form {
  padding-bottom: 50px;
  background-color: #1A1B1C;
  color: #333333; }

input,
textarea,
.ember-power-select-trigger,
.ember-basic-dropdown-trigger,
.ember-power-select-search-input,
.ember-text-field {
  background-color: #1A1B1C;
  color: #333333;
  border: 1px solid #dddddd;
  border-radius: 3px;
  transition: border 0.3s linear;
  padding: 4px; }

li hr {
  margin: 2px;
  border-color: #748BA5;
  border-width: 4px; }

.emoji {
  font-size: 1.5em;
  vertical-align: middle; }

/* -------------------------
BOOTSTRAP OVERRIDES
------------------------- */
.navbar {
  margin-bottom: 0px; }

.label-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 20rem; }

.label-primary {
  background-color: #383A4F;
  color: #d1d2d3; }

.nav-tabs > li > a {
  border: 1px solid #dddddd; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #383A4F;
  color: white; }

.tab-content {
  border: 1px solid #dddddd;
  border-top: 2px solid #383A4F;
  padding: 10px;
  min-height: 50px; }

.panel {
  background-color: #1A1B1C;
  border-color: #dddddd; }

.panel-default > .panel-heading {
  background-color: #dddddd;
  border-color: #dddddd; }

.btn-primary {
  background-color: #383A4F;
  border-color: #383A4F; }

.btn-info {
  background-color: #748BA5;
  border-color: #748BA5; }

mark {
  padding: 0;
  background-color: orange;
  color: white; }

.pull-right {
  padding: 10px; }

.modal {
  z-index: 3000; }

.row {
  margin-right: 0px;
  margin-left: 0px; }

/* -------------------------
GOOGLE SEARCH OVERRIDES
------------------------- */
form.gsc-search-box {
  padding: 0px; }

/* Fixes the search box icon */
.cse .gsc-search-button input.gsc-search-button-v2,
input.gsc-search-button-v2 {
  height: 26px !important;
  margin-top: 0 !important;
  min-width: 13px !important;
  padding: 5px 26px !important;
  width: 68px !important; }

/* Placeholder text keeps getting chopped off, so just hide it.*/
input.gsc-input::placeholder {
  color: white; }

table.gsc-search-box td {
  vertical-align: top !important;
  border: none;
  padding: 3px; }

.gsst_b {
  padding: 0px; }

.gsc-search-box-tools .gsc-search-box .gsc-input, .gscb_a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.25em; }

/* --------------------------
ALERTIFY DIALOGS
---------------------------*/
.alertify-notifier .ajs-message.ajs-success {
  background-color: #383A4F;
  color: #d1d2d3; }

/* --------------------------
YOUTUBE MUSIC PLAYER
---------------------------*/
.musicplayer-button {
  cursor: pointer;
  border: none;
  background: transparent;
  outline: none;
  display: block; }

.musicplayer-frame, .musicplayer-preload {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  display: inline; }

.musicplayer-wrap {
  border-bottom: 1px solid #dddddd;
  margin: 5px; }

.musicplayer-description {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 5px; }

/* -------------------------
HEADER
------------------------- */
.site-title {
  margin: 0px;
  font-size: 3em; }

.site-subtitle {
  font-size: 1.2em; }

.site-title a, .site-title a:hover, .site-title a:active {
  color: #d1d2d3;
  text-decoration: none; }

.user-bar {
  margin-top: 15px; }

.loginDisplay {
  text-align: right; }

.alts-switcher {
  width: 100%; }

/* -------------------------
FOOTER
------------------------- */
.footer {
  font-size: 0.9em;
  color: #999999;
  border-top: 1px solid #999999;
  margin-top: 40px;
  padding-top: 10px; }

/* -------------------------
SIDEBAR
------------------------- */
.sidebar-box-left {
  border-right: 1px solid #dddddd;
  padding-right: 10px; }

.sidebar-box-right {
  border-left: 1px solid #dddddd;
  padding-left: 10px; }

.sidebar-box {
  border-top: 1px solid #dddddd;
  margin: 2px;
  font-size: .9em; }

.sidebar-heading {
  text-align: center;
  padding-bottom: 10px; }

.sidebar-heading h2 {
  text-align: center;
  font-size: 1.5em;
  color: #999999;
  font-variant: small-caps;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 10px; }

.search-bar {
  padding: 10px; }

.sidebar-list {
  word-wrap: break-word; }

.search-hint {
  color: #999999;
  font-style: italic; }

/* -------------------------
GENERAL UTILITIES
------------------------- */
.clearfix {
  clear: both; }

.small-profile-icon {
  width: 50px;
  height: 50px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  margin: 2px;
  object-fit: cover;
  object-position: center 10%; }

.tiny-profile-icon {
  width: 25px;
  height: 25px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  margin: 2px;
  object-fit: cover;
  object-position: center 10%; }

.icon-row img {
  margin-left: 20px; }

.faded {
  background-color: gray;
  opacity: 0.4;
  filter: alpha(opacity=40); }

.inline-response {
  border: 1px solid #dddddd;
  margin: 20px;
  padding-left: 20px;
  margin-top: 30px; }

.inline-response form {
  padding-bottom: 20px; }

.hint {
  color: #999999;
  font-style: italic;
  font-weight: bold;
  padding-left: 10px; }

.tinyhint {
  color: #999999;
  font-style: italic;
  padding-left: 10px;
  font-size: .8em; }

img {
  max-width: 100%; }

.image-container {
  padding: 5px;
  max-width: 100%; }

.image-container img {
  max-width: 100%; }

.image-container.center img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.image-container.right img {
  display: block;
  margin-left: auto;
  margin-right: 0; }

.icon-status-web-active {
  border: 3px double #176109;
  border-radius: 30px; }

.icon-status-game-active {
  border: 3px solid #176109;
  border-radius: 30px; }

.icon-status-web-inactive {
  border: 3px double #ccc;
  border-radius: 30px; }

.icon-status-game-inactive {
  border: 3px solid #ccc;
  border-radius: 30px; }

/* -------------------------
HOME SCREEN
------------------------- */
.jumbotron {
  background-color: #1A1B1C;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px; }

.jumbotron-image {
  height: 250px;
  max-width: 100%;
  background: url("/game/uploads/theme_images/jumbotron.png");
  background-size: cover;
  background-position: center;
  margin: auto; }

.jumbotron img {
  max-width: 70%;
  width: 400px; }

.jumbotron-tagline {
  font-size: 3em; }

.container .jumbotron {
  border-radius: 0px; }

.splash-box {
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  min-height: 200px; }

.splash-heading {
  text-align: center;
  padding-bottom: 10px; }

.jumbotron .splash {
  padding-top: 20px;
  text-align: left;
  margin: auto;
  width: 80%; }

.jumbotron .splash p {
  font-size: 1.25em; }

/* -------------------------
PLAY SCREEN
------------------------- */
#console {
  height: calc(100vh - 325px);
  min-height: 400px;
  overflow-y: scroll; }

#sendMsg, #sendMsg2 {
  width: 100%;
  height: 100px;
  border: 2px solid #dddddd;
  margin: 0px;
  margin-top: 5px;
  border: 0px; }

/* -------------------------
CHARGEN SCREEN
------------------------- */
.cg-tip {
  color: #999999;
  font-style: italic;
  font-size: 1em; }

.app-status {
  padding: 10px; }

.fs3-divider {
  background-color: #dddddd; }

.chargen-section-title {
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 0 10px 0; }

/* -------------------------
SCENES SCREEN
------------------------- */
.scene-pose {
  padding: 10px;
  margin: 15px; }

.scene-pose-header {
  font-size: .8em;
  border-top: 1px dashed #dddddd;
  padding-top: 10px;
  color: #999999;
  margin-bottom: 20px; }

.scene-system-pose {
  margin-left: 25px;
  color: #999999;
  font-style: italic; }

.scene-set-pose {
  margin-left: 25px;
  border-left: 1px solid #748BA5;
  font-style: italic;
  padding: 0px 10px 10px 10px; }

.scene-ooc-pose {
  margin-left: 25px;
  background-color: #000000;
  color: #ffffff;
  padding: 0px 10px 10px 10px; }

.scene-log {
  border: 1px solid #dddddd;
  margin: 2px;
  padding: 10px; }

#live-scene-log {
  height: calc(100vh - 400px);
  min-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 2px 0px; }

.log-icon-container {
  width: 150px;
  height: 150px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  overflow: hidden;
  background: #000000; }

.log-icon {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: cover;
  object-position: center 10%; }

.log-icon-title-container {
  width: 150px;
  background-color: #000000;
  z-index: 98;
  position: relative;
  top: -19px;
  -moz-border-radius: 25px 0px;
  -webkit-border-radius: 25px 0px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  vertical-align: middle; }

.log-icon-title {
  z-index: 99;
  text-align: center;
  font-weight: bold;
  color: #ffffff; }

.scene-event {
  background-color: #337ab7; }

.scene-social {
  background-color: #5cb85c; }

.scene-vignette {
  background-color: #f0ad4e; }

.scene-privacy-open {
  background-color: #5cb85c; }

.scene-privacy-private {
  background-color: #337ab7; }

.scene-privacy-openstar {
  background-color: #5bc0de; }

.scene-pacing-traditional {
  background-color: #5cb85c;
  color: white; }

.scene-pacing-asynchronous {
  background-color: #5bc0de;
  color: white; }

.scene-pacing-distracted {
  background-color: #f0ad4e;
  color: white; }

.log-box {
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
  padding: 20px; }

.log-wrap {
  border-radius: 8px;
  border: 1px solid #5B5760;
  background-color: #1A1B1C;
  margin: 5px;
  padding: 5px;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/game/uploads/theme_images/box-bg.png"); }

.log-participants-box {
  padding-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.badge-likes {
  background-color: red; }

.pose-divider {
  margin: 20px 25px 20px 25px;
  border: 1px solid #eee;
  align: center;
  height: 1px; }

.scene-pose-order {
  padding-left: 10px; }

.scene-pose-order .hint {
  padding-left: 0px; }

.your-pose-order {
  font-weight: bold;
  color: green; }

.scene-menu {
  display: inline-block; }

.scene-menu .dropdown-toggle {
  padding: 0px; }

.scene-pose-select, .scene-char-select, .forum-char-select {
  width: 175px;
  padding-top: 10px; }

.scene-pose-box {
  margin: 10px 0px;
  width: 100%; }

.scene-controls-box {
  border: 1px solid #ccc;
  background: #F5F5F5;
  padding: 5px; }

.scene-controls {
  display: flex;
  flex-flow: row-reverse wrap; }

.pose-buttons {
  display: flex;
  flex-flow: row-reverse wrap; }

.pose-buttons .btn {
  margin-left: 4px; }

.scene-controls-left {
  padding: 5px; }

.scene-controls-right {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  padding: 5px; }

.scene-char-select .tiny-profile-icon {
  margin: 0 2px 3px 0; }

.live-scene-controls a, .chat-controls a, .unshared-scenes-controls a {
  padding-right: 15px;
  display: inline-block; }

.live-scenes-controls a {
  padding-right: 10px; }

.unshared-scene-warnings {
  margin-bottom: 10px; }

.live-scenes-block, .unshared-scene-block {
  padding-bottom: 5px;
  margin-bottom: 10px; }

.live-scenes-heading, .unshared-scenes-heading {
  background-color: #dddddd;
  padding: 5px 0px 5px 0px;
  border-radius: 5px; }

.unshared-scenes-controls {
  padding: 10px 0px; }

.live-scenes-controls {
  padding: 0px;
  text-align: right; }

.scene-title {
  font-weight: bold; }

.scene-info-label {
  font-weight: bold; }

.live-scenes-block .scene-title-block {
  background-color: #dddddd;
  padding: 10px; }

.content-warning-label {
  margin: 0px 5px; }

@media (max-width: 767px) {
  .scene-controls-left {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    padding-top: 10px;
    align-items: flex-end; }
  .scene-controls-left .scene-menu {
    margin-left: 4px; }
  .scene-controls-left .dropdown-menu {
    right: 0;
    left: auto; } }

/* -------------------------
CHARACTERS SCREEN
------------------------- */
.profile-gallery {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  width: 150px; }

.profile-gallery-input textarea {
  margin: 0px;
  width: 100%; }

.profile-gallery-input code {
  color: #333333;
  background-color: #1A1B1C; }

.profile-box {
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
  padding: 20px; }

.profile-box .row {
  border-bottom: 1px solid #dddddd;
  margin: 10px;
  padding: 3px; }

.profile-title {
  background-color: #383A4F;
  color: #d1d2d3;
  padding: 20px;
  margin: 0;
  font-size: 1.5em; }

.profile-divider {
  background-color: #383A4F;
  color: #d1d2d3;
  padding: 5px;
  margin: 0; }

.profile-wrap {
  border-radius: 8px;
  border: 1px solid #5B5760;
  background-color: #1A1B1C;
  margin: 5px;
  padding: 15px;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/game/uploads/theme_images/box-bg.png"); }

table.char-ability-list {
  width: 100%; }

.char-ability-title {
  font-size: 1.5em;
  background-color: #383A4F;
  padding: .1em 1.2em;
  color: #d1d2d3;
  font-weight: normal;
  border: 3px solid #5B5760;
  letter-spacing: 0.1em;
  margin: 20px 0px 10px 0px; }

.profile-image {
  width: 300px;
  margin: auto;
  display: block;
  border-radius: 4px;
  max-width: 100%; }

.relationship-icon {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.relationship-icon-container {
  width: 100px;
  height: 100px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  overflow: hidden;
  background: #000000; }

.relationship-title-container {
  text-align: center; }

.relationship-row {
  margin: 10px;
  padding: 5px;
  border: 1px solid #dddddd; }

.status-message {
  color: white;
  background-color: #748BA5;
  text-align: center; }

.tab-cover {
  font-size: 2em;
  font-variant: small-caps;
  text-align: center; }

.profile-tab {
  padding-top: 15px;
  padding-bottom: 15px; }

.char-scene-list {
  max-width: 50%; }
  .char-scene-list span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%; }

.relaedScenesList, .participantsList {
  margin-top: 20px;
  margin-bottom: 20px; }

.file-image {
  max-width: 500px; }

.upload-preview {
  max-width: 100px;
  max-height: 100px; }

input[type='file'] {
  color: transparent; }

.combat-damage {
  color: red; }

#combat-log {
  max-height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 5px; }

.fs3-linked-attr {
  font-size: .7em;
  color: #999999; }

.roster-table {
  width: 100%; }

.roster-char-title {
  font-size: 1.5em;
  background-color: #383A4F;
  padding: .1em 1.2em;
  color: #d1d2d3;
  font-weight: normal;
  border: 3px solid #5B5760;
  letter-spacing: 0.1em;
  margin: 20px 0px 10px 0px; }

.roster-char-warnings {
  margin-bottom: 5px; }

/* -------------------------
CHAT SCREEN
------------------------- */
#chat-window {
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #dddddd;
  margin: 2px;
  padding: 10px; }

.play-sidebar {
  max-height: 800px;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 5px; }

.play-sidebar:hover {
  overflow-y: auto; }

.play-hint {
  color: #999999;
  margin-left: 5px;
  font-size: .8em; }

.chat-box {
  padding: 3px;
  margin: 0px; }

.chat-button {
  width: 100%;
  white-space: normal !important;
  word-wrap: break-word; }

.chat-report {
  max-height: 200px;
  overflow-y: scroll; }

.timestamp-tip {
  color: #999999;
  font-style: italic;
  font-size: .8em; }

.chat-button-active {
  color: #d1d2d3;
  background-color: #383A4F; }

.chat-button-active:focus {
  color: #d1d2d3;
  background-color: #383A4F; }

.chat-add-convo {
  display: inline-block; }

.chat-nav > li > a {
  padding: 0px; }

.chat-control-row {
  margin: 0px;
  padding: 0px 15px 0px 0px; }

.play-section-title {
  color: #999999;
  font-variant: small-caps;
  font-weight: bold;
  margin: 10px 5px 5px 5px; }

.play-selector {
  width: 100%;
  padding: 5px; }

.play-selector-active {
  background-color: #eee; }

.navbar-nav > li > a.dropdown-toggle.chat-menu {
  padding: 10px 0px 0px 0px; }

/* -------------------------
JOBS SCREEN
------------------------- */
.job-filter {
  margin-left: 10px; }

.job-status {
  background-color: gray; }

.job-status-DONE {
  background-color: gray;
  color: white; }

.job-status-NEW {
  background-color: yellow;
  color: black; }

.job-status-OPEN {
  background-color: green;
  color: white; }

.job-status-HOLD {
  background-color: red;
  color: white; }

.job-category {
  background-color: gray; }

.job-category-general {
  background-color: white;
  border: 1px solid gray; }

.job-category-ALERT, .job-category-BUG {
  background-color: red;
  color: white; }

.job-category-BUILD, .job-category-CODE {
  background-color: orange;
  color: black; }

.job-category-APP {
  background-color: purple;
  color: white; }

.job-category-APP, .job-category-REQ {
  background-color: purple;
  color: white; }

.job-reply {
  padding: 5px;
  margin-top: 5px; }

.admin-only-reply-label {
  background-color: #f0ad4e; }

.admin-only-reply, .admin-only-reply .markdown-editor {
  background-color: #fcf8e3;
  border-color: #faebcc; }

.job-participant-edit-box {
  padding-left: 15px; }

.job-template-editor {
  margin: 0px; }

/* -------------------------
OTHER
------------------------- */
.small-who-icon {
  float: left;
  padding: 15px; }

.xp-progress {
  max-width: 100%;
  width: 200px;
  display: inline-block;
  margin-bottom: 5px;
  position: relative; }

.xp-progress-points {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.xp-ability {
  border-bottom: 1px solid #dddddd;
  padding: 5px;
  margin: 5px 0px;
  min-height: 50px; }

.xp-ability .col {
  padding-right: 5px;
  padding-left: 5px; }

.xp-ability-name {
  font-weight: bold; }

.xp-list {
  margin: 5px 0px; }

.xp-list h1 {
  font-size: 1em; }

.fs3-damage-block {
  border-bottom: 1px solid #dddddd;
  padding: 5px;
  margin: 5px; }

.fs3-damage-title {
  font-weight: bold; }

.wiki-breadcrumbs {
  margin-bottom: 10px; }

.help-heading {
  margin-top: 5px; }

.help-topic img {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px; }

ul.regular-help-list {
  list-style-type: square; }

ul.reference-help-list {
  padding-left: 25px; }

ul.reference-help-list li {
  display: inline; }

ul.reference-help-list > li:not(:last-child)::after {
  content: "\00b7";
  margin: 0 .25em; }

.reference-help-title {
  color: #999999;
  font-style: italic;
  font-weight: bold;
  padding-left: 25px; }

.emoji-example {
  font-size: 24px; }

.forum-reply-panel {
  padding: 10px; }

.idle-status {
  white-space: normal; }

/*.char-scene-list li:before { content: "\2666  "; }*/
@media (max-width: 765px) {
  .site-title {
    font-size: 2em;
    max-height: 50px; }
  h1, h2 {
    font-size: 1.5em; }
  h3 {
    font-size: 1.25em; }
  .char-ability-title {
    font-size: 1.25em; }
  .profile-wrap {
    padding: 5px; }
  .profile-box {
    padding: 5px;
    margin: 5px; }
  .log-wrap {
    padding: 5px; }
  .log-box {
    padding: 5px;
    margin: 5px; }
  .container {
    padding-left: 0px;
    padding-right: 0px; }
  .profile-image-wrap, .profile-demo-wrap {
    padding: 5px; }
  .body-row {
    display: flex;
    flex-direction: column; }
  .left-sidebar {
    order: 2; }
  .right-sidebar {
    order: 2; }
  .left-body {
    order: 1; }
  .right-body {
    order: 1; }
  .xp-ability {
    min-height: 100px; } }

/* Put any custom styles here.  They will override the default styles. */
/* All Pages */
body {
  color: #d1d2d3;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  line-height: 1.5em; }

.container-fluid {
  background: #101015; }

.col-xs-4 {
  margin: 5px; }

pre {
  background-color: #d1d2d3; }

::-webkit-scrollbar {
  width: 9px;
  background-color: white; }

.clear {
  clear: both; }

blockquote {
  color: #1c1713; }

.tab-content {
  margin-bottom: 15px; }

.label-pill {
  background-color: #862931; }

.panel {
  background: inherit; }

.panel-body {
  background: #1A1B1C; }

.panel-default {
  border: 0px; }

.panel-default > .panel-heading {
  color: #d1d2d3;
  background-color: #314254;
  border-color: #314254; }

.topboxes {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px; }

a {
  /* color: #968DA0;     */
  color: #A7C6DA;
  text-decoration: none;
  font-weight: bold; }

a:hover,
a:focus {
  color: #8790AD;
  text-decoration: none; }

h1 {
  padding: 10px 25px;
  font-family: "Libre Baskerville";
  font-size: 2.5em;
  font-variant: small-caps;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 5px;
  border: 0px;
  background-image: linear-gradient(to right, #383A4F, #1a1b1c);
  max-width: 75%; }

h2 {
  border-bottom: 1px solid #aaa;
  overflow: hidden; }

.hint {
  padding-top: 5px;
  color: #b3b0b0; }

.alert a {
  color: #3a6d8e; }

code {
  background: #c5c6d0;
  padding: 3px; }

.modal-content {
  background-image: url("/game/uploads/theme_images/background.png");
  background-size: cover; }

.modal-body {
  background: #2b2f33;
  padding: 15px;
  opacity: .8; }

.collapse.in {
  padding: 10px;
  border-radius: 0px 5px 5px 5px;
  position: relative;
  width: fit-content; }

.nav-tabs > li > a {
  background: #343438; }

.tab-content > .active {
  margin-top: 5px; }

/*------------ Menus ----------------*/
select {
  background: #2b2f33; }

li hr {
  border-image: linear-gradient(to left, transparent, #6A6E95, transparent) 100% 1;
  border-width: 2px; }

.dropdown-menu > li > a {
  color: #d1d2d3; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background: #383a4f;
  color: #d1d2d3; }

.dropdown-menu {
  background: #2b2f33;
  color: #d1d2d3;
  box-shadow: 0 0px 5px #656679;
  -webkit-box-shadow: 0 0px 5px #656679; }

/*------------End Menus ----------------*/
/*------- input boxes & selectors --------*/
input,
textarea,
.markdown-preview,
.ember-power-select-trigger,
.ember-basic-dropdown-trigger,
.ember-power-select-search-input,
.ember-text-field {
  background: #2b2f33;
  border: 0px;
  border-radius: 2px;
  transition: border 0.3s linear;
  color: #d1d2d3;
  padding: 4px; }

textarea,
.ember-text-field, .ember-power-select-trigger, .ember-text-field, .markdown-preview {
  box-shadow: 0px 0px 4px 0px #68747b; }

.ember-power-select-option[aria-current="true"],
.ember-power-select-option[aria-selected="true"] {
  background-color: #383a4f; }

input:focus, .ember-power-select-search-input:focus, textarea:focus {
  box-shadow: 0px 0px 4px 0px #68747b;
  outline: 0;
  border: 0px; }

.ember-power-select-trigger.ember-power-select-trigger--active, .ember-power-select-trigger:focus {
  border: 0px;
  outline: 0;
  box-shadow: 0px 0px 4px 0px #68747b; }

.ember-power-select-trigger input:focus {
  border: 0; }

.ember-power-select-dropdown.ember-basic-dropdown-content,
.ember-power-select-dropdown.ember-basic-dropdown-content {
  background-color: #222;
  border: none;
  border-radius: 0;
  margin-top: -3px; }

.ember-power-select-multiple-option {
  background-color: #383a4f;
  border-radius: 2px;
  border-color: #dddddd;
  color: #cdcdcd; }
  .ember-power-select-multiple-option:hover {
    border-color: #383a4f; }

.ember-power-select-selected-item {
  margin: 0px; }

.dropdown-menu .divider {
  background-color: #2b2f33;
  background-image: linear-gradient(to right, transparent, #6A6E95, transparent); }

/*------- end boxes & selectors --------*/
/*------- tables --------*/
.table-striped > tbody > tr:nth-of-type(odd) {
  background: #D9DCDF;
  color: #1c1713; }

.table-striped > tbody > tr:nth-of-type(odd) a {
  color: #63697E; }

.table-striped > tbody > tr:nth-of-type(even) a {
  color: #63697E; }

.table-striped > tbody > tr:nth-of-type(even) a:hover, a:focus {
  color: #8790AD; }

.table-striped > tbody > tr:nth-of-type(odd) a:hover, a:focus {
  color: #8790AD; }

.table-striped > tbody > tr:nth-of-type(even) {
  background: #ECEDEF;
  color: #1c1713; }

.table-striped > thead > th {
  background: #314254; }

/*------- end tables --------*/
/*------- magic pages --------*/
.pinterest {
  width: 400px;
  float: right;
  margin: 15px; }

.spell_card {
  background: #383A4F;
  padding: 15px;
  border: 2px solid white;
  border-radius: 14px;
  margin: 15px; }

.portal-card-heading {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  background-color: #314254;
  border-bottom: 4px solid #293038;
  border-radius: 12px 12px 0px 0px; }

.portal-card {
  background: #404B56;
  border: 2px solid #293038;
  border-radius: 14px;
  margin: 15px 0px 15px;
  width: intrinsic;
  /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;
  /* Firefox/Gecko */
  width: -webkit-max-content;
  /* Chrome */ }

.portal-card-body {
  padding: 15px;
  line-height: 2; }

.school-text-wrapper {
  position: relative; }

.school-pinterest {
  height: 700px;
  background: tomato; }

@media screen and (min-width: 48em) {
  .school-text-wrapper:before {
    content: '';
    float: right;
    display: block;
    width: 300px;
    height: 700px;
    margin: 0 0 15px 15px; }
  .school-pinterest {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px; } }

.creature-box {
  margin: 15px 15px 0px 5px;
  width: 350px;
  border-radius: 10px;
  border: 2px solid #293038; }

.infobox {
  margin: 15px 15px 0px 5px;
  width: 350px;
  border-radius: 10px;
  border: 2px solid #293038; }

.infobox-body {
  background: #404B56;
  padding: 20px;
  border-radius: 0px 0px 5px 5px; }

.infobox-heading {
  background-color: #314254;
  border-bottom: 4px solid #293038;
  border-radius: 8px 8px 0px 0px; }

.infobox-title-text {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-align: left; }

.infobox-subtitle {
  font-style: italic;
  font-size: 14px;
  padding-top: 5px; }

.infobox-majorschool {
  float: right;
  font-style: italic; }

.infobox-minorschool {
  float: right; }

/*-------end magic pages --------*/
/*-------wiki pages --------*/
.toc {
  border: 1px solid white;
  box-shadow: 5px 5px 5px #2A2E33;
  padding: 15px;
  width: max-content;
  max-width: 300px;
  float: right;
  font-variant: all-small-caps;
  margin: 15px;
  background: #314254;
  border-radius: 8px; }

.wiki-links {
  font-size: 12.6px; }

.note {
  background: #d1d2d324;
  padding: 15px;
  margin: 5px;
  border-bottom: 2px solid white;
  border-top: 2px solid white; }

.isinlibrary {
  background: #314254;
  padding: 15px;
  border-radius: 10px;
  border: solid 2px white;
  margin: 20px;
  width: fit-content;
  width: -moz-fit-content; }

.isonwn {
  background: #606486;
  padding: 15px;
  border-radius: 10px;
  border: solid 2px white;
  margin: 20px;
  width: fit-content;
  width: -moz-fit-content; }

/*-------end wiki pages --------*/
/*-------search pages --------*/
#searchFields {
  width: 95%;
  padding: 15px; }

/*-------end search pages --------*/
/* ------Buttons------ */
.btn {
  font-size: 12px;
  padding: 4px 10px; }

.btn-default {
  background: #bbbfc1;
  color: #1a1a1c;
  border: 0px;
  border-radius: 2px; }

.btn-primary {
  background-color: #2b2d3a;
  border-color: #383A4F; }

.btn-warning {
  background-color: #d09747;
  border-color: #d09747; }

.btn-collapse {
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  border-radius: 5px 5px 0px 0px;
  background: #383A4F;
  border: black;
  color: #d1d2d3;
  padding: 15px 15px 35px 15px;
  width: fit-content;
  text-align: left; }

button, select {
  color: #d1d2d3; }

.input-button {
  background: #e6e6e6; }

/* ------End Buttons------ */
/* ------Header & Nav------ */
.header-wrap {
  background-position: 50% 100%;
  min-height: 170px; }

.title-wrap {
  background-color: transparent; }

.site-title a, .site-title a:hover, .site-title a:active {
  font-family: "Libre Baskerville";
  font-variant: small-caps;
  font-size: 1.5em;
  letter-spacing: 3px;
  line-height: 1; }

.site-subtitle {
  font-size: 1em;
  font-family: Verdana, Geneva, sans-serif;
  font-variant: small-caps;
  letter-spacing: 1px; }

.fs3-divider {
  background-color: #2E2F30; }

.nav > li > a:focus, .nav > li > a:hover {
  background-color: #1A1B1C; }

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: #1A1B1C;
  border-color: #1A1B1C; }

.label-danger {
  background-color: #A9353E; }

/* ------End Header & Nav------ */
/* ---------Jobs----------- */
.admin-only-reply, .admin-only-reply .markdown-editor {
  background-color: #494b61;
  border-color: #383a4f; }

.job-status-HOLD {
  background-color: #A31B1B; }

.job-status-ASANA {
  background-color: #fa5858; }

.job-status-OPEN {
  background-color: #448444; }

.job-category-APP {
  background-color: #804c80; }

.job-category-ALERT, .job-category-BUG {
  background-color: #C12020; }

.job-category-REQ {
  background-color: gray; }

.job-category-SPELL {
  background-color: #3E7499; }

.job-category-LH {
  background-color: #4a90bf; }

.job-category-PRP {
  background-color: #69a5a5; }

.job-category-PLOT {
  background-color: #477878; }

.job-category-SECRET {
  background-color: #3e5b5b; }

.job-category-BUILD {
  background-color: #640404;
  color: white; }

.job-category-CODE {
  background-color: orange; }

.job-category-SYS {
  background-color: #5bc0de; }

.job-category-PLAYER {
  background-color: #fef64a;
  color: black; }

.job-category-LUCK {
  background-color: #068431; }

/* ---------End Jobs----------- */
/* ------ Sidebar ------------- */
.sidebar-heading h2 {
  padding: 0px;
  padding-bottom: 5px !important;
  color: #afadad;
  border: 0px;
  margin-top: 10px; }

.sidebar-box {
  line-height: 1.5em;
  border-top: 1px solid #999; }

.sidebar-box-right {
  border-left: 1px solid #999; }

/* ------ End Sidebar ------------- */
/* ---------Landing Page-------------- */
.jumbotron p {
  color: #d1d2d3;
  font-size: 16px;
  line-height: 1.5em; }

.jumbotron .splash {
  font-size: 11px;
  font-style: italic; }

.jumbotron-tagline {
  display: none; }

.jumbotron img {
  max-width: 75%;
  width: 500px;
  opacity: .8; }

/* ---------End Landing Page-------------- */
/* ---------Images-------------- */
.image-container.right img {
  float: right; }

.image-container.left img {
  float: left; }

.thumbnail {
  max-width: 225px;
  max-height: 225px; }

.thumbnail-gallery {
  height: 250px;
  width: 250px; }

/* ---------End Images-------------- */
/* ------Character pages--------- */
.comp {
  background-color: #383a4f;
  padding: 10px;
  border-radius: 5px;
  margin: 20px; }

.profile-box {
  color: #d1d2d3;
  background-color: #383A4F;
  border-radius: 10px;
  opacity: .8; }

.profile-box .row {
  border-bottom: 1px solid #383A4F;
  margin: 3px; }

.profile-title {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1em; }

.char-profile-gallery {
  border-radius: 5px;
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
  height: 200px;
  width: unset;
  margin: 10px;
  border: 2px solid #dddddd6e; }

.relationship-icon {
  object-fit: cover; }

/* ---------  Sheet ------------- */
.sheet_header {
  background-color: #383A4F;
  color: #d1d2d3;
  font-weight: normal;
  letter-spacing: 0.1em;
  padding: 5px 25px;
  margin: 15px;
  font-family: "Libre Baskerville";
  font-size: 1.5em;
  font-variant: small-caps;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 0px; }

div.rating-wrapper {
  width: 55%;
  float: right;
  text-align: right;
  display: inline-block; }

div.rating-block {
  width: 90%; }

div.rating-numeric, div.rating-alpha {
  width: 100%; }

div.rating-numeric {
  display: inline-block; }

div.rating-alpha {
  color: #748ba5;
  display: none; }

.rating-fill {
  color: #748ba5;
  opacity: 0.8; }

.rating-empty {
  color: #748ba5;
  opacity: 0.6; }

.alpha-numeric-switch {
  cursor: pointer;
  padding: 0px; }

.alpha-numeric-switch:hover {
  color: #748ba5; }

/* --------- End Sheet ------------- */
/* ------ End Character pages--------- */
/*----------------   Live Play Pages ---------------- */
/*------- play sidebar ----------*/
.play-selector:hover {
  background-color: #383a4f;
  color: #d1d2d3; }

.play-sidebar:hover {
  overflow-y: auto; }

.play-hint {
  font-style: italic; }

.play-section-title {
  color: #fdf8f8; }

.play-selector-active {
  background-color: #383a4f;
  color: #d1e3ee; }

#sceneMenuCollapse {
  background: #292b2d; }

a.markdown-control-toggle {
  font-size: 75%;
  border: 0px;
  margin: 0px; }

.markdown-preview {
  min-height: 100px; }

/*------- end play sidebar ----------*/
/*------- textbox input --------*/
.scene-controls-box {
  background: #1A1B1C;
  border: 0px; }

.textbox-input {
  background: #2b2f33;
  margin-left: 5px; }
  .textbox-input .text-ui {
    margin: 5px;
    border: 1px solid #383a4f;
    transition: .3s ease;
    border-radius: 2px;
    display: flex;
    flex-flow: row-reverse wrap; }
    .textbox-input .text-ui:focus-within {
      transition: .3s ease;
      border: 1px solid #383a4f; }
  .textbox-input .textbox-menu-options {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
    border-top: 1px solid #333;
    background: #222; }
    .textbox-input .textbox-menu-options .textbox-dropdowns {
      display: flex; }
    .textbox-input .textbox-menu-options .nav.textbox-menu {
      display: flex;
      margin-right: 5px; }
      .textbox-input .textbox-menu-options .nav.textbox-menu li > a[role="button"] {
        padding: 0; }
  .textbox-input .textbox-input-header {
    padding-left: 15px;
    padding-right: 15px; }
    .textbox-input .textbox-input-header .scene-pose-order {
      padding-top: 5px; }
  .textbox-input .scene-pose-select, .textbox-input .scene-char-select {
    padding-top: 0;
    margin-right: 5px; }
  .textbox-input .textbox-buttons {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    padding: 10px 0; }
  .textbox-input .input-button {
    border: 0;
    background: none;
    text-transform: uppercase;
    color: #A7C6DA;
    white-space: nowrap; }
    .textbox-input .input-button:hover {
      color: #d1d2d3;
      background-color: #383a4f; }
    .textbox-input .input-button:focus {
      outline: none; }
  .textbox-input textarea {
    margin: 0;
    padding: 10px;
    font-size: 14px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border: 0;
    width: 100%;
    background: none;
    box-sizing: border-box;
    height: 50px;
    min-width: 100%; }
    .textbox-input textarea.scene-pose-box {
      height: 100px; }
    .textbox-input textarea:focus {
      border: 0; }

/*------------end textbox input---------------------*/
.char-card {
  background: #2b2f33;
  padding: 15px;
  opacity: .8;
  border-radius: 5px; }

.live-scene-info {
  font-size: 85%; }

.live-scenes-heading, .unshared-scenes-heading {
  background: #383a4f;
  margin-bottom: 15px;
  background-image: linear-gradient(to right, #383A4F, #1a1b1c); }

.timestamp-tip {
  color: #999999;
  font-style: italic;
  font-weight: normal;
  font-size: 85%;
  margin-left: 0px; }

.your-pose-order {
  color: #95d895; }

#chat-window {
  border: 0px; }

.chat-timestamp {
  color: #999999;
  font-size: 85%; }

.chat-text p {
  margin: 0px 5px;
  border-bottom: 1px solid #414141;
  padding-bottom: 10px;
  padding: 0px 0px 15px 0px; }

.chat-button-active {
  color: #1a1a1c !important;
  background-color: #ecedef !important; }

.chat-button:hover {
  background-color: red; }

.chat-button:active {
  background-color: blue; }

.chat-button:focus {
  color: #1a1a1c;
  background-color: #b8b9c3; }

.chat-button {
  background: #38394f;
  color: #d1d2d3;
  border: 0px;
  font-size: 95%; }

#channelMenuCollapse {
  background: #38394f; }

.chat-button:hover {
  background-color: #b8b9c3;
  color: #1a1a1c; }

.ooc {
  background: #d6a09c9c;
  padding: 10px 10px 5px 10px;
  border-radius: 10px;
  margin: 5px;
  width: fit-content;
  border: 2px solid #d1d2d3;
  font-size: 90%;
  font-style: italic;
  overflow: hidden; }

.scene-pose {
  padding: 0px;
  margin: 10px 10px 20px 10px; }

.scene-pose-box {
  margin: 15px; }

.pose-divider {
  border-bottom: 1px solid #313335;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0px; }

.scene-set-pose, .scene-ooc-pose {
  margin: 5px 20px 20px 20px;
  border: 0px;
  color: #d1d2d3;
  padding: 5px;
  border-radius: 5px;
  padding-left: 40px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3); }

.scene-set-pose {
  background: #2b2f33; }

.scene-ooc-pose {
  background: #252633;
  padding-top: 15px; }

.scene-pose-header {
  padding-top: 10px;
  margin-bottom: 0px;
  border-color: #45484a; }

.scene-log p, .scene-pose p {
  margin: 5px 35px 35px 0px;
  line-height: 1.6; }

#live-scene-log {
  max-height: 575px; }

.scene-set-pose p, .scene-ooc-pose p {
  margin: 15px 20px 20px 0px; }

/*---------------- End Live Play Pages ---------------- */
/*---------------- Scene List & Logs ---------------- */
.scene-communication {
  background: #6f5bde; }

.scene-journal {
  background-color: #DB5461; }

.scene-ooc {
  background: #ea7d51; }

.scene-meme {
  background: #a50472; }

.scenes-tip {
  padding: 15px;
  font-style: italic;
  font-size: 90%; }

.scene-log {
  border: 0px; }

.scene-privacy-limited {
  background-color: #24805d; }

.badge-likes {
  background-color: #99233A; }

.ansi-blue-bg {
  background-color: #2A4C7C;
  padding-left: 4px; }

.ansi-red-bg {
  background-color: #a5514a;
  padding-left: 4px; }

.ansi-green-bg {
  padding-left: 4px; }

44
.log-wrap {
  background-position: 20% 40%;
  background-color: rgba(0, 0, 0, 0.25); }

.log-box {
  color: #1c1713; }

.log-box {
  background-color: #58585E;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
  border-radius: 10px;
  color: #F9F9F9;
  line-height: 1.25em;
  opacity: .75; }

.log-icon-container {
  width: 125px;
  height: 125px; }

.log-icon-title-container {
  width: 125px; }

.log-icon {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.small-profile-icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  margin: 2px; }

.char-icon-container {
  padding: 0px; }

/* ------ EndLog Pages------ */
/*---------------- End Scene List & Logs ---------------- */
/* ------------- Chargen -------------*/
.cg-tip {
  color: white;
  background: #555662;
  padding: 15px;
  border-radius: 10px; }

.cg-subtle-tip {
  font-style: italic;
  margin: 15px; }

.cg-tip-table {
  background: #555662;
  padding: 20px;
  border-radius: 10px; }

/* ------------- End Chargen -------------*/
/*------------------- Mobile ---------------------*/
@media only screen and (max-width: 700px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #d1d2d3; }
  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #d1d2d3;
    background-color: #383a4f; }
  .textbox-input .textbox-buttons {
    display: unset; }
  .ember-power-select-trigger {
    margin: 10px; }
  .navbar-collapse.in {
    background: #2b2f33; }
  table {
    width: 100%; }
  .toc {
    width: 100%; }
  .topicbox {
    width: 100%; }
  #channelMenuCollapse {
    background: #ffffff;
    color: #1a1a1c;
    top: -4px; }
  .chat-button {
    background: #ecedef;
    color: unset; }
  .dropdown-toggle {
    color: #778dc0; }
  .dropdown, .dropup {
    position: relative; } }

/*------------------- End Mobile ---------------------*/
