$primary-color:#B0543E;
$primary-outline-color:#011C26;
$primary-words-color:#ffffff;
$secondary-color:#96bdb4;
$background-color:#1F252F;
$border-color:#61111A;
$gutter-color:#243032;
$faded-text-color:#999999;
$log-icon-color:#000000;
$log-icon-text-color:#090909;
$text-color:#ebebeb;
