$primary-color:#808080;
$primary-outline-color:#011C26;
$primary-words-color:#ffffff;
$secondary-color:#588C8C;
$background-color:#000000;
$border-color:#ffffff;
$gutter-color:#000000;
$faded-text-color:#999999;
$log-icon-color:#000000;
$log-icon-text-color:#ffffff;
$text-color:#ffffff;
