$primary-color:#1e434c;
$primary-outline-color:#193840;
$primary-words-color:#f2f2f2;
$secondary-color:#1e434c;
$background-color:#f2f2f2;
$border-color:#dddddd;
$gutter-color:#cccccc;
$faded-text-color:#999999;
$log-icon-color:#000000;
$log-icon-text-color:#ffffff;
$text-color:#333333;
