@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Homemade+Apple&family=Julius+Sans+One&family=Loved+by+the+King&family=Noto+Serif:wght@700&family=Staatliches&display=swap');

$light-grey: #ebebeb;
$dark-grey: #3a4146;
$darker-grey: #23272a;
$darkest-grey: #171a1c;
$blackest-grey: #191919;
$almost-black: #090909;

$greyish-green: #2F3E41;
$green: #326B64;
$red: #7F181B;
$taupe: #BF9075;
$tan: #F1D8C2;

$rose: #852A35;
$light-rose: #A34752;
$lighter-rose: #C8757F;
$dark-rose: #61111A;
$darker-rose: #3D0007;
$slate: #384367;
$light-slate: #505B7E;
$lighter-slate: #747D9A;
$dark-slate: #242F54;
$darker-slate: #121C3E;
$dusky-purple: #554665;
$light-purple: #6E607D;
$lighter-purple: #8E839A;
$dark-purple: #382D44;
$darker-purple: #2C1C3E;
$lighter-green: #81b08b;
$light-green: #3a5d42;
$dark-green: #233333;
$darker-green: #182424;
$lighter-teal: #2d605c;
$lightest-teal: #45948e;
$medium-teal: #035371;
$darkest-teal: #011C26;
$yellow: #d9c66a;
$medium-blue: #02188b;
$dark-blue: #010b40;
$rust: #B04402;
$dark-rust: #8D3600;
$dark-red: #621624;
$darkest-red: #380c14;

// MAIN BODY

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: .9em
}

.body-wrap {
    background-color: #141D2A;
}

.left-body {
    background-color: #1F252F;
}

.body-container {
    z-index: 1
}

.ansi-green-bg {
    background-color: #8bb678;
}

.ansi-green-fg {
    color: #8bb678;
}

#jobMenuBottom {
    float: left;
    margin-top: 5px;
}

#jobMenuBottom + .action-buttons {
    float: right;
    width: fit-content;
}

body>.container-fluid {
    padding: 0;
    margin: 0;
    margin-left: 6px;
    width: calc(100% - 6px)
}

p {
    margin: 0 0 16px;
    line-height: 1.6
}

select {
    background-color: $dark-grey;
    color: $light-grey;
    min-height: 30px;
    border: 1px solid $almost-black;
    outline: 0
}

input {
    color: $light-grey;
    outline: 0;
    border: 2px solid $almost-black;
    border-radius: 0
}

input:focus,
textarea:focus,
input[type="text"]:focus {
    box-shadow: 0 0 1px 1px $light-green inset;
}

.ember-power-select-trigger:focus {
    border-bottom: 0!important;
    border-top: 0!important;
    box-shadow: none!important;
    border-left: 0!important;
    border-right: 0!important;
}

textarea,
input {
    background-color: $dark-grey;
    border: 1px solid $almost-black;
    border-radius: 0;
    outline: 0;
    min-height: 32px
}

textarea {
    width: 100%;
    margin: 0;
    border-top: 0!important
}

pre code {
    color: $light-grey
}

pre {
    color: $light-grey
}

code {
    background-color: $almost-black;
    color: $lightest-teal;
}

.status-message p {
    margin: 1em;
    line-height: 1
}

.clearfix::after {
    content: "";
    clear: both;
    display: table
}

.ember-power-select-trigger {
    background-color: $dark-grey;
    border: 1px solid $almost-black;
    border-radius: 0;
    min-height: 39px
}

.ember-power-select-option[aria-current=true] {
    background-color: $lighter-green;
    color: inherit
}

.ember-basic-dropdown-content {
    background-color: $dark-grey
}

.ember-power-select-option[aria-selected=true] {
    background-color: #34735c
}

.ember-power-select-dropdown.ember-basic-dropdown-content--above {
    border-top: 1px solid $almost-black;
    border-bottom: 1px solid $almost-black
}

.ember-power-select-dropdown.ember-basic-dropdown-content--below,
.ember-power-select-dropdown.ember-basic-dropdown-content--in-place {
    border-top: 1px solid $almost-black;
    border-bottom: 1px solid $almost-black
}

.ember-power-select-dropdown {
    border-left: 1px solid $almost-black;
    border-right: 1px solid $almost-black
}

input[type="text"],
.ember-text-field {
    background: $dark-grey;
    border: 1px solid $almost-black;
    padding: 5px;
    border-radius: 0;
    outline: 0;
    height: 39px
}

// DROPDOWN MENUS

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: $yellow
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:active {
    color: $light-grey
}

.navbar-dark .navbar-nav>.open>a,
.navbar-dark .navbar-nav>.open>a:focus,
.navbar-dark .navbar-nav>.open>a:hover {
    color: $light-grey;
    background-color: $almost-black
}

.dropdown-menu {
    background-color: $darkest-teal;
    color: $light-grey;
    font-size: 14px;
    text-transform: none;
    font-family: Verdana, Geneva, sans-serif
}

.dropdown-menu>li>a {
    font-weight: 400;
    color: $light-grey;
    background-color: $darkest-teal
}

.dropdown-menu>li>a:hover {
    background-color: $light-green;
    color: $light-grey;
    text-shadow: none
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: transparent;
    color: $light-grey;
}

// HEADER

.site-title a,
.site-title a:hover,
.site-title a:active {
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px $almost-black;
    font-family: 'Noto Serif', Georgina, sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

// BUTTONS

button {
    background-color: $dark-rose;
    border-color: $darker-rose;
    outline: 0;
    border-style: none;
    border-radius: 4px;
    padding: .225em .75em .35em;
    min-width: 40px
}

.btn-success {
    text-shadow: none;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    font-size: 18px
}

.btn-success:hover {
    color: #333;
    background-color: $light-grey;
    border-color: #adadad;
}

.btn-secondary,
.btn-collapse,
.btn-default {
    text-shadow: none;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    background-color: $dark-rose;
    color: $light-grey;
    border-color: $darker-rose;
}

.btn-secondary:hover,
.btn-collapse:hover,
.btn-default:hover,
.btn-primary:hover {
    text-shadow: none;
    background-color: $dusky-purple;
    border-color: $darker-purple;
    color: $light-grey;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0
}

.btn-primary {
    background-color: $dark-slate;
    border-color: $dark-slate;
    color: $light-grey;
    text-shadow: none;
    outline: 0;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    font-size: 18px
}

.btn-warning {
    text-shadow: none;
    outline: 0;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    background-color: #bf8450;
    border-color: #c69163
}

// FS3

.fs3-divider {
    visibility: hidden
}

.fs3-skillbutton {
    color: $light-grey
}

#fs3abilities .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center
}

.fs3-rating-display {
    flex-basis: 30%
}

// WIKI INCLUDES

.pagebox {
  height: 13.5em;
  float: left;
  padding: .75em 1em .8em;
  margin: .5em;
  background-image: url(/game/uploads/theme_images/boxbg.png), linear-gradient(to bottom, #f4e2ba 0, 9.352517873%, #f2e4bf 18.7050357461%, 19.6043163538%, #f4e6c1 20.5035969615%, 44.7841726243%, #f0e2bd 69.0647482872%, 84.5323741436%, #f2e3bc 100%);
  overflow-y: auto;
  width: 31.5%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  min-width: 260px; }

.pagebox::-webkit-scrollbar {
  background-color: transparent; }

.pagebox::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border: 4px solid transparent;
  border-radius: 7px;
  box-shadow: #45948e inset 0 0 0 10px;
  width: 10px; }

.pagebox p {
  margin: 0; }

.pageboxl {
  padding-top: 0;
  text-align: right;
  font-family: 'Special Elite', monospace;
  color: red;
  font-size: 1em; }

.pageboxs {
  font-style: italic;
  font-size: .95em;
  padding-top: .25em;
  color: #191919; }

.pageboxh {
  border-bottom: 2px solid #3a4146;
  margin-left: 3px;
  margin-top: 0 !important;
  font-family: "Special Elite", monospace !important;
  font-size: calc(14px + 0.4vw); }

.pageboxh .fas,
.pageboxh-pic .fas {
  position: absolute;
  right: .125em;
  top: .2em; }

.pageboxh p {
  position: relative; }

.pagebox-pic {
  height: 11.8em;
  float: left;
  padding: .75em 1em;
  margin: .5em;
  background-image: url(/game/uploads/theme_images/boxbg.png), linear-gradient(to bottom, #f4e2ba 0, 9.352517873%, #f2e4bf 18.7050357461%, 19.6043163538%, #f4e6c1 20.5035969615%, 44.7841726243%, #f0e2bd 69.0647482872%, 84.5323741436%, #f2e3bc 100%);
  overflow-y: auto;
  width: 48.5%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  min-width: 400px; }

.pagebox-pic::-webkit-scrollbar {
  background-color: transparent; }

.pagebox-pic::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border: 4px solid transparent;
  border-radius: 7px;
  box-shadow: #45948e inset 0 0 0 10px;
  width: 10px; }

.pagebox-pic p {
  margin: 0; }

.pagebox-info {
  margin-left: 10px;
  flex-basis: 73%; }

.pageboxs-pic {
  font-style: italic;
  font-size: .95em;
  padding-top: .25em;
  color: #191919; }

.pageboxh-pic {
  border-bottom: 2px solid #3a4146;
  margin-left: 3px;
  margin-top: 0 !important;
  font-family: "Special Elite", monospace !important;
  font-size: calc(14px + 0.4vw);
  position: relative; }

.pagebox-icon-container {
  overflow: hidden;
  overflow-x: hidden;
  background: #090909;
  width: 150px;
  height: 150px;
  top: 0;
  position: sticky; }

.pagebox-icon-container p,
.pagebox-icon-container br {
  display: none; }

.pagebox-icon-container a > img,
.pagebox-icon-container > img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: cover;
  object-position: center 10%; }

.pagebox-icon-container .image-container {
  padding: 0; }

  .box {
    background-image: url(/game/uploads/theme_images/box-bg.png);
    background-size: cover;
    background-position: left top;
    margin: 10px;
    padding: 12px; }
  
  .box > p {
    padding: 0;
    margin: 0; }
  
  .boxinfo {
    margin-top: 3px;
    background-image: url(/game/uploads/theme_images/paper-texture.png), linear-gradient(to bottom, #f4e2ba 0, 9.352517873%, #f2e4bf 18.7050357461%, 19.6043163538%, #f4e6c1 20.5035969615%, 44.7841726243%, #f0e2bd 69.0647482872%, 84.5323741436%, #f2e3bc 100%); }
  
  .pageboxl a:hover {
    color: #191919; }
  
  .boxtable-row {
    border-bottom: 1px solid #45948e;
    padding: 5px; }
  
  .boxtable-last {
    padding: 5px; }
  
  .boxpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px; }
  
  .boxpic img {
    width: 100%;
    border: 10px solid #f9f9ef;
    box-shadow: 2px 2px 2px rgba(54, 38, 9, 0.3); }
  
  .boxpic p {
    margin: 0;
    line-height: 0;
    padding: 0; }
  
  .boxpic .image-container {
    padding: 0;
    margin-top: -17px; }
  
  .box-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 2px solid #3a4146;
    margin-right: 4px; }
  
  .box-title {
    flex-basis: 60%; }
  
  .box-title h2,
  .box-title .h2 {
    font-size: calc(14px + 0.4vw) !important;
    color: #621624 !important;
    margin-bottom: 0;
    margin-top: .15em;
    padding-top: 0;
    line-height: 1.1; }
  
  .box-header p {
    margin-bottom: 5px; }
  
  .box-loc {
    flex-basis: 40%;
    text-align: right;
    font-family: "Special Elite", monospace !important;
    font-size: calc(14px + 0.4vw) !important;
    color: #621624; }
  
  .box .tab-content {
    background-image: url(/game/uploads/theme_images/paper-texture.png), linear-gradient(to bottom, #f4e2ba 0, 9.352517873%, #f2e4bf 18.7050357461%, 19.6043163538%, #f4e6c1 20.5035969615%, 44.7841726243%, #f0e2bd 69.0647482872%, 84.5323741436%, #f2e3bc 100%);
    background-color: transparent;
    border-color: transparent;
    color: #191919; }
  
  .box .nav-tabs > li > a {
    background-color: #171a1c;
    color: #d9c66a;
    border-color: #090909;
    font-family: 'Special Elite', monospace;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: none;
    line-height: 1;
    padding-bottom: .25em; }

    .theme-page .nav-tabs .nav-link {
      padding-top: 10px;
      font-family: 'Special Elite', monospace;
      line-height: 1;
      border-radius: 0;
      background: #444;
      border: 0;
      color: #898989;
      text-shadow: none; }
    
    .theme-page .nav-tabs .nav-link:hover {
      color: #ebebeb; }
    
    .theme-page .nav-tabs .nav-link > a:hover,
    .nav-tabs .nav-link > a:focus,
    .nav-tabs .nav-link:hover,
    .nav-tabs .nav-link:focus {
      background-color: transparent;
      border-color: 0;
      border-bottom-color: #090909; }
    
    .theme-page .nav-tabs .nav-link.active,
    .nav-tabs .nav-link.active > a:hover,
    .nav-tabs .nav-link.active > a:focus {
      border: 1px solid #090909;
      border-bottom: 0;
      background-color: #lighter-green;
      color: #ebebeb;
      text-shadow: none; }

// HEADER & NAV

  .header-wrap {
    background-size: cover;
    background-repeat: no-repeat;
  }

// CHAR PAGES

    .profile-box {
       background-color: $darker-grey;
    }

// ICONS

    .log-icon-container {
        height: 175px;
        border-radius: 0px;
    }

    .log-icon {
        height: 175px;
        object-position: center;
    }

    .log-icon-title-container {
        height: 35px;
        top: -25px;
        border-radius: 0px;
        background-color: transparent;
        background-image: url(/game/uploads/css_files/name-tape.png);
        background-repeat: no-repeat;
        background-size: 170px;
        background-position: -10px;
        left: -3px;
        width: 170px;
        transform: rotate(1deg);
        opacity: 1;
    }

    .log-icon-title {
        color: $almost-black;
        padding-right: 1em;
        padding-top: 0.18em;
        font-family: 'Loved by the King', Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 1.5em;
    }

// HEADERS

h1,
.h1 {
    background-color: #B8996E;
    background-image: url(/game/uploads/css_files/h1-left.png), url(/game/uploads/css_files/h1-right.png);
    background-size: contain, contain;
    background-repeat: no-repeat;
    background-position: left, right;
    padding: 0.2em 2em 0em 2em;
    color: #090909;
    font-family: 'Loved by the King', 'Arial Narrow', sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
    border: transparent;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    transform: rotate(0.15deg);
    margin-right: 25px;
    }

h2 {
    background-image: url(/game/uploads/css_files/ink-splatter.png);
    background-size: contain;
    background-repeat: repeat-x;
    background-position: bottom left;
    font-family: 'Homemade Apple', 'Brush Script MT', cursive;
    width: fit-content;
    }

@media only screen and (max-width: 767px) {
h1 {
    font-size: 6vw !important;
    background-image: none;
    margin-right: 0px;
    padding: 0.2em 0.5em 0em 0.5em;
}
}

// SIDEBAR

.right-sidebar {
    background-color: #141D2A;
    }

.sidebar-heading h2 {
    color: #ebebeb;
    font-variant: none;
    padding: 10px;
    background-color: #1F252F;
    font-family: 'Julius Sans One';
    background-image: none;
    width: auto;
}

.sidebar-box-right {
    border-left: none;
    }

.sidebar-box {
    border-top: none;
    }

.sidebar-list {
    line-height: 1;
    }