/* Put any custom styles here.  They will override the default styles. */

@import url('https://fonts.googleapis.com/css?family=Libre Baskerville');

/* All Pages */

body {
    color: $primary-words-color;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    line-height:1.5em;

}

.container-fluid {
    background: #101015;
}

pre {
     background-color: #d1d2d3;
}

textarea {
     color: $dark-words-color;
     background-color: white;
}

::-webkit-scrollbar {
    width: 9px;
    background-color: white;
}

input[type="text"] {
	background:white;
	color:$dark-words-color;
}

input[type="password"] {
	background:white;
	color:$dark-words-color;
}

blockquote {
    color:$dark-words-color;
}

#ember-basic-dropdown-wormhole {
	color:$dark-words-color;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background: #D9DCDF;
    color: $dark-words-color;
}

.table-striped>tbody>tr:nth-of-type(odd) a {
    color: #63697E;
}

.table-striped>tbody>tr:nth-of-type(even) a {
    color: #63697E;
}

.table-striped>tbody>tr:nth-of-type(even) a:hover, a:focus {
    color: #8790AD;
}

.table-striped>tbody>tr:nth-of-type(odd	) a:hover, a:focus {
    color: #8790AD;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background: #ECEDEF;
    color: $dark-words-color;
    }

.table-striped>thead>th {
    background: #314254;
}

.tab-content {
    margin-bottom: 15px;
}

.label-pill {
    background-color: #A9353E;
}

.pinterest {
  width:400px;
  float:right;
  margin:15px;
}

.spell_card {
  background: #383A4F;
  padding: 15px;
  border: 2px solid white;
  border-radius: 14px;
  margin: 15px;
}

.portal-card-heading {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  background-color: #314254;
  border-bottom: 4px solid #293038;
  border-radius: 12px 12px 0px 0px;
}

.portal-card {
  background: #404B56;
  border: 2px solid #293038;
  border-radius: 14px;
  margin: 15px 0px 15px;
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
}

.portal-card-body {
  padding: 15px;
  line-height: 2;

}

.clear {
  clear: both;
}

.school-text-wrapper {
  position: relative;
}

.school-pinterest {
  height: 700px;
  background: tomato;
}

@media screen and (min-width: 48em) {

  // .collapse.in  {
  //     width: fit-content;
  //     min-width: 600px;
  //     max-width: 100%;
  // }

  .school-text-wrapper:before {
    content: '';
    float: right;
    display: block;
    width: 300px;
    height: 700px;
    margin: 0 0 15px 15px;
  }
  .school-pinterest {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
  }
}

.toc {
    border:1px solid white;
    box-shadow: 5px 5px 5px #2A2E33;
    padding: 15px;
    width: max-content;
    max-width: 300px;
    float: right;
    font-variant: all-small-caps;
    margin: 15px;
    background: #314254;
    border-radius: 8px;
}


.ansi-blue-bg {
    background-color: #2A4C7C;
    padding-left: 4px
}

.ansi-red-bg {
    background-color: #a5514a;
    padding-left: 4px
}

.ansi-green-bg {
    padding-left: 4px
}

.ember-power-select-trigger {
	color:$dark-words-color;
  width: 250px;
}


#searchFields {
  width: 95%;
  padding: 15px;
}

.panel-body {
    background: #1A1B1C;
}

.panel-default {
    border: 0px;
}

.panel {
    background: inherit;
}

.ooc {
  background: #d6a09c9c;
  padding: 10px 10px 5px 10px;
  border-radius: 10px;
  margin: 5px;
  width: fit-content;
  border: 2px solid #d1d2d3;
  font-size: 90%;
  font-style: italic;
}

.note {
    background: #d1d2d324;
    padding: 15px;
    margin: 5px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.isinlibrary {
  background: #314254;
  padding: 15px;
  border-radius: 10px;
  border: solid 2px white;
  margin: 20px;
  width: fit-content;
}


.topboxes {
   width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.creature-box {
   margin: 15px 15px 0px 5px;
   width: 350px;
   border-radius: 10px;
   border: 2px solid #293038;
}

.infobox {
   margin: 15px 15px 0px 5px;
   width: 350px;
   border-radius: 10px;
   border: 2px solid #293038;
}

.infobox-body {
    background: #404B56;
    padding: 20px;
    border-radius: 0px 0px 5px 5px;
}

.infobox-heading {
    background-color: #314254;
    border-bottom: 4px solid #293038;
    border-radius: 8px 8px 0px 0px;
}

.infobox-title-text {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

.infobox-subtitle {
    font-style: italic;
    font-size: 14px;
    padding-top: 5px;
}

.infobox-majorschool {
   float:right;
   font-style: italic;
}

.infobox-minorschool {
   float:right;
}

.hint {
	padding-top: 5px;
  color: #b3b0b0;
}

.alert a {
  color: #3a6d8e;
}

code {
    background: #c5c6d0;
    padding: 3px;
}

.modal-content {
  color: #333333;
}

.collapse.in {
    background: #383A4F;
    // padding: 10px;
    border-radius: 5px;
    // top: -10px;
    position: relative;
    width: fit-content;
}

.nav-tabs > li > a {
    background: #343438;
}

.tab-content > .active {
    margin-top: 5px;
}


/* Buttons */
.btn {
    font-size:12px;
    padding: 4px 10px;
    // line-height:1px;
}

.btn-default {
  background: #ecedef;
  color: #1a1a1c;
  border: 0px;
}

.btn-primary {
    background-color: #555;
    border-color: #383A4F;
}

.btn-warning {
  background-color: #d09747;
  border-color: #d09747;
}

.btn-collapse {
    font-size: 15px;
    font-weight:bold;
    height: 40px;
    border-radius: 5px 5px 0px 0px;
    background: #383A4F;
    border: black;
    color: #d1d2d3;
    padding: 15px;
    width: fit-content;
    text-align:left;
}

button, input, select, textarea {
    color: $dark-words-color;
}

/* Text */
.wiki-links {
     font-size: 12.6px;
}

a {
    /* color: #968DA0;     */
    color:#A7C6DA;
    text-decoration: none;
	font-weight:bold;
}

a:hover,
a:focus{
    color: #8790AD;
    text-decoration: none;
}

h1 {
    padding: 10px 25px;
    font-family: "Libre Baskerville";
    font-size: 2.5em;
    font-variant: small-caps;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border:0px;
}

h2 {
   border-bottom: 1px solid #aaa;
   overflow:hidden;
}

/* Header & Nav */

.header-wrap {
     background-position: 50% 100%;
     min-height: 170px;
}

.title-wrap {
 background-color: transparent;
}


.site-title a, .site-title a:hover, .site-title a:active {
    font-family: "Libre Baskerville";
    font-variant: small-caps;
    font-size:1.5em;
    letter-spacing:3px;
    line-height: 1;
}

.site-subtitle {
    font-size: 1em;
    font-family: Verdana, Geneva, sans-serif;
    font-variant: small-caps;
    letter-spacing:1px;
}

.fs3-divider {
    background-color: #2E2F30;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #1A1B1C;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #1A1B1C;
    border-color: #1A1B1C;
}

.label-danger {
    background-color: #A9353E;
}

/* Jobs */
.job-status-HOLD {
    background-color: #A31B1B;
}

.job-status-ASANA {
    background-color: #fa5858;
}

.job-status-OPEN {
    background-color: #448444;
}

.job-category-APP {
    background-color: #804c80;
}

.job-category-ALERT, .job-category-BUG {
    background-color: #C12020;
}

.job-category-REQ {
    background-color: gray;
}

.job-category-SPELL {
    background-color: #3E7499;
}

.job-category-PLOT{
    background-color: #477878;
}

.job-category-SECRET{
    background-color: #3e5b5b;
}

.job-category-BUILD{
    background-color: #640404;
    color: white;
}

.job-category-CODE{
    background-color: orange;
}

.job-category-SYS{
    background-color: #5bc0de;
}

.job-category-PLAYER{
    background-color: #fef64a;
    color: black;
}

.job-category-LUCK{
    background-color: #068431;
}

#068431



/* Sidebar */
.sidebar-heading h2 {
    padding: 0px;
    padding-bottom: 5px !important;
    color: #afadad;
    border: 0px;
    margin-top: 10px;
}

.sidebar-box {
    line-height: 1.5em;
}

/* Landing Page */
.jumbotron p {
    color: $primary-words-color;
    font-size:16px;
    line-height: 1.5em;
}

.jumbotron .splash {
    font-size: 11px;
    font-style: italic;
  }

.jumbotron-tagline {
	display:none;
}

.jumbotron img {
    max-width: 75%;
    width: 500px;
    opacity: .8;
}

.image-container.right img {
   float: right;
}

.image-container.left img {
   float: left;
}

/* Specific Shit*/
/* BG text area */
#ember823 {
    height:700px;
}

.panel-default>.panel-heading {
    color: $primary-words-color;
    background-color: #314254;
    border-color: #314254;
}
/* Combat 'type' spacing */
#ember670 {
    margin-top:5px;
}

/* Character pages */

.profile-box {
    color: #d1d2d3;
    background-color: #383A4F;
    border-radius: 10px;
    opacity: .8;
}

.profile-box .row {
    border-bottom: 1px solid #383A4F;
    margin: 3px;
}

.profile-title {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1em;
}

.char-profile-gallery {
    border-radius: 5px;
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
    height: 200px;
    width: unset;
    margin: 10px;
    border: 2px solid #dddddd6e;
  }

/* Log Pages */
.log-wrap {
    background-position: 20% 40%;
    background-color: rgba(0, 0, 0, 0.25);
}

.log-box {
    color: $dark-words-color;
}

// Scenes

.log-box {
    background-color: #58585E;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    border-radius: 10px;
    color: #F9F9F9;
    line-height: 1.25em;
    opacity: .75;
}

.log-icon-container {
    width: 125px;
    height: 125px;
}

.log-icon-title-container {
    width: 125px;
}

.log-icon {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.small-profile-icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    margin: 2px;
}

.char-icon-container {
    padding: 0px;
}

.your-pose-order {
    color: #95d895;
}

.scene-pose {
    padding: 0px;
    margin: 10px 10px 20px 10px
}

.scene-set-pose {
    margin-left: 25px;
    border: 0px;
    color: #c7d2d3;
    padding: 5px;
    border-radius: 10px;
    padding-left: 40px;
    background: #35353a;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}

.scene-ooc-pose {
    margin-bottom: 10px;
    padding: 8px;
    width: fit-content;
    border-radius: 10px;
}

.scene-pose-header {
    padding-top: 10px;
    margin-bottom: 0px;
}

.scene-journal {
    background-color: #DB5461;
}

.scene-log p {
  margin: 35px 35px 35px 0px;
  line-height: 1.6;
}

.scene-pose p {
  margin: 0px 35px 35px 0px;
  line-height: 1.6;
}



.scene-ooc-pose p {
  margin: 5px;

}

.scene-communication {
  background: #6f5bde;
}

.scene-ooc {
  background: #ea7d51;
}

.scene-meme {
  background: #a50472;
}

.scenes-tip {
  padding: 15px;
  font-style: italic;
  font-size: 90%;
}


#live-scene-log {
    max-height: 575px;
}

.scene-log {
  border: 0px;
}

.badge-likes {
    background-color: #99233A;
}

.sheet_header {
    background-color: #383A4F;
    color: #d1d2d3;
    font-weight: normal;
    letter-spacing: 0.1em;
    padding: 5px 25px;
    margin: 15px;
    font-family: "Libre Baskerville";
    font-size: 1.5em;
    font-variant: small-caps;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 0px;
}

div.rating-wrapper {
    width: 55%;
    float: right;
    text-align: right;
    display: inline-block;
}

div.rating-block {
    width: 90%;
}

div.rating-numeric, div.rating-alpha {
    width: 100%;
}

div.rating-numeric {
    display: inline-block;
}

div.rating-alpha {
    color: rgb(116, 139, 165);
    display: none;
}

.rating-fill {
    color: rgb(116, 139, 165);
    opacity: 0.8;
}

.rating-empty {
    color: rgb(116, 139, 165);
    opacity: 0.6;
}

.alpha-numeric-switch {
    cursor: pointer;
    padding: 0px;
}

.alpha-numeric-switch:hover {
    color: rgb(116, 139, 165);
}

.cg-tip {

    color: white;
    background: #555662;
    padding: 15px;
    border-radius: 10px;

}

.cg-subtle-tip {
   font-style: italic;
   margin: 15px;
}

.cg-tip-table {
    background: #555662;
   padding: 20px;
   border-radius: 10px;
}



.chat-timestamp {
    color: #999999;
    font-size: 85%;
}

.timestamp-tip {
    color: #999999;
    font-style: italic;
    font-size: 85%;
    margin: 15px 5px 0px 5px;
}

.chat-text p {
    margin: 0px 5px;
    border-bottom: 1px solid #414141;
    padding-bottom: 10px;
    padding: 0px 0px 15px 0px;
}

.chat-button-active {
    color: #1a1a1c !important;
    background-color: #ecedef !important;
}

.chat-button:hover {
  background-color: red;

}

.chat-button:active{
  background-color: blue;
}

.chat-button:focus{
  color: #1a1a1c;
  background-color: #b8b9c3;
}

.chat-button {
    background: #38394f;
    color: #d1d2d3;
    border: 0px;
    font-size: 95%;
}

#channelMenuCollapse {
  background: #38394f;
}

.chat-button:hover{
  background-color: #b8b9c3;
  color: #1a1a1c;
}

#ember823 {
    height: fit-content;
}

#ember731 {
  padding: 5px;
}

/* Mobile */
@media only screen and (max-width: 700px) {

  .navbar-collapse.in {
    float: right;
  }
    table {
        width: 100%;
    }

    .toc {
        width: 100%;
    }
    .topicbox {
        width: 100%;
    }

    #channelMenuCollapse {
      background: #ffffff;
      color: #1a1a1c;
      top: -4px;
    }

    .chat-button {
      background: #ecedef;
      color: unset;
    }
  .dropdown-toggle{
    color: #778dc0;
  }

  .dropdown-menu > li > a {
    color: #d1d2d3;
  }
    .body-wrap {
      padding: 5px 0px 0px 5px;
    }

    .scene-log p {
      margin: 15px 0px 15px 0px;
    }

    .scene-pose p {
      margin: 15px 5px;
  }

  .scenes-tip {
    display: none;
  }

}
