/* Put any custom styles here.  They will override the default styles. */

@import url('https://fonts.googleapis.com/css?family=Libre Baskerville');

/* All Pages */

body {
    color: $light-words-color;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    line-height:1.5em;

}

.container-fluid {
    background: #101015;
}

.col-xs-4 {
    margin: 5px;
  }


pre {
     background-color: #d1d2d3;
}

::-webkit-scrollbar {
    width: 9px;
    background-color: white;
}

.clear {
  clear: both;
}

blockquote {
    color:$dark-words-color;
}

.tab-content {
    margin-bottom: 15px;
}

.label-pill {
    background-color: #862931;
}

.panel {
    background: inherit;
}

.panel-body {
    background: #1A1B1C;
}

.panel-default {
    border: 0px;
}

.panel-default>.panel-heading {
    color: $light-words-color;
    background-color: #314254;
    border-color: #314254;
}

.topboxes {
   width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}



a {
    /* color: #968DA0;     */
    color:#A7C6DA;
    text-decoration: none;
	  font-weight:bold;
}

a:hover,
a:focus{
    color: #8790AD;
    text-decoration: none;
}

h1 {
    padding: 10px 25px;
    font-family: "Libre Baskerville";
    font-size: 2.5em;
    font-variant: small-caps;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    border:0px;
    background-image: linear-gradient(to right, #383A4F, #1a1b1c);
    max-width: 75%;
}

h2 {
   border-bottom: 1px solid #aaa;
   overflow:hidden;
}

.hint {
	padding-top: 5px;
  color: #b3b0b0;
}

.alert a {
  color: #3a6d8e;
}

code {
    background: #c5c6d0;
    padding: 3px;
}

.modal-content {
  background-image: url("/game/uploads/theme_images/background.png");
  background-size: cover;
}

.modal-body {
  background: $dark-gray-bg;
  padding: 15px;
  opacity: .8;
}

.collapse.in {
    // background: #4f5162;
    padding: 10px;
    border-radius: 0px 5px 5px 5px;
    // top: -10px;
    position: relative;
    width: fit-content;
}

.nav-tabs > li > a {
    background: #343438;
}

.tab-content > .active {
    margin-top: 5px;
}

/*------------ Menus ----------------*/

select {
  background: $dark-gray-bg;
}

li hr {
    border-image: linear-gradient(to left, transparent, #6A6E95, transparent) 100% 1;
    border-width: 2px;
}

.dropdown-menu > li > a {
    color: $light-words-color;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: $main-purple;
    color: $light-words-color;
}

.dropdown-menu{
  background: $dark-gray-bg;
  color: $light-words-color;
  box-shadow: 0 0px 5px rgb(101, 102, 121);
  -webkit-box-shadow:  0 0px 5px rgb(101, 102, 121);
}
/*------------End Menus ----------------*/



  /*------- input boxes & selectors --------*/
input,
textarea,
.markdown-preview,
.ember-power-select-trigger,
.ember-basic-dropdown-trigger,
.ember-power-select-search-input,
.ember-text-field {
  background: $dark-gray-bg;
  border: 0px;
  border-radius: 2px;
  transition: border 0.3s linear;
  color: $light-words-color;
  padding: 4px;
}

textarea,
.ember-text-field, .ember-power-select-trigger, .ember-text-field, .markdown-preview {
  box-shadow: 0px 0px 4px 0px $box-shadow;
}

.ember-power-select-option[aria-current="true"],
.ember-power-select-option[aria-selected="true"] {
  background-color: $main-purple;
}

input:focus, .ember-power-select-search-input:focus, textarea:focus {
  box-shadow: 0px 0px 4px 0px $box-shadow;;
  outline: 0;
  border: 0px;
}

.ember-power-select-trigger {

  &.ember-power-select-trigger--active,
  &:focus {
    border: 0px;
    outline: 0;
    box-shadow: 0px 0px 4px 0px $box-shadow;;
  }

  input:focus {
    border: 0;
  }
}

.ember-power-select-dropdown.ember-basic-dropdown-content,
.ember-power-select-dropdown.ember-basic-dropdown-content {
  background-color: #222;
  border: none;
  border-radius: 0;
  margin-top: -3px;
}

.ember-power-select-multiple-option {
  background-color: $main-purple;
  border-radius: 2px;
  border-color: $border-color;
  color: #cdcdcd;

  &:hover {
    border-color:$main-purple;
  }
}

.ember-power-select-selected-item {
  margin: 0px;
}

.dropdown-menu .divider {
  background-color: #2b2f33;
  background-image: linear-gradient(to right, transparent, #6A6E95, transparent);
}


  /*------- end boxes & selectors --------*/


  /*------- tables --------*/
.table-striped>tbody>tr:nth-of-type(odd) {
    background: #D9DCDF;
    color: $dark-words-color;
}

.table-striped>tbody>tr:nth-of-type(odd) a {
    color: #63697E;
}

.table-striped>tbody>tr:nth-of-type(even) a {
    color: #63697E;
}

.table-striped>tbody>tr:nth-of-type(even) a:hover, a:focus {
    color: #8790AD;
}

.table-striped>tbody>tr:nth-of-type(odd	) a:hover, a:focus {
    color: #8790AD;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background: #ECEDEF;
    color: $dark-words-color;
    }

.table-striped>thead>th {
    background: #314254;
}

  /*------- end tables --------*/

  /*------- magic pages --------*/

.pinterest {
  width:400px;
  float:right;
  margin:15px;
}

.spell_card {
  background: #383A4F;
  padding: 15px;
  border: 2px solid white;
  border-radius: 14px;
  margin: 15px;
}

.portal-card-heading {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  background-color: #314254;
  border-bottom: 4px solid #293038;
  border-radius: 12px 12px 0px 0px;
}

.portal-card {
  background: #404B56;
  border: 2px solid #293038;
  border-radius: 14px;
  margin: 15px 0px 15px;
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
}

.portal-card-body {
  padding: 15px;
  line-height: 2;

}

.school-text-wrapper {
  position: relative;
}

.school-pinterest {
  height: 700px;
  background: tomato;
}


@media screen and (min-width: 48em) {

  // .collapse.in  {
  //     width: fit-content;
  //     min-width: 600px;
  //     max-width: 100%;
  // }

  .school-text-wrapper:before {
    content: '';
    float: right;
    display: block;
    width: 300px;
    height: 700px;
    margin: 0 0 15px 15px;
  }
  .school-pinterest {
    position: absolute;

    top: 0;
    right: 0;
    width: 300px;
  }
}

.creature-box {
   margin: 15px 15px 0px 5px;
   width: 350px;
   border-radius: 10px;
   border: 2px solid #293038;
}

.infobox {
   margin: 15px 15px 0px 5px;
   width: 350px;
   border-radius: 10px;
   border: 2px solid #293038;
}

.infobox-body {
    background: #404B56;
    padding: 20px;
    border-radius: 0px 0px 5px 5px;
}

.infobox-heading {
    background-color: #314254;
    border-bottom: 4px solid #293038;
    border-radius: 8px 8px 0px 0px;
}

.infobox-title-text {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

.infobox-subtitle {
    font-style: italic;
    font-size: 14px;
    padding-top: 5px;
}

.infobox-majorschool {
   float:right;
   font-style: italic;
}

.infobox-minorschool {
   float:right;
}

  /*-------end magic pages --------*/


  /*-------wiki pages --------*/
.toc {
    border:1px solid white;
    box-shadow: 5px 5px 5px #2A2E33;
    padding: 15px;
    width: max-content;
    max-width: 300px;
    float: right;
    font-variant: all-small-caps;
    margin: 15px;
    background: #314254;
    border-radius: 8px;
}

.wiki-links {
     font-size: 12.6px;
}


.note {
    background: #d1d2d324;
    padding: 15px;
    margin: 5px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.isinlibrary {
  background: #314254;
  padding: 15px;
  border-radius: 10px;
  border: solid 2px white;
  margin: 20px;
  width: fit-content;
  width: -moz-fit-content;
}

.isonwn {
  background: #606486;
  padding: 15px;
  border-radius: 10px;
  border: solid 2px white;
  margin: 20px;
  width: fit-content;
  width: -moz-fit-content;
}


  /*-------end wiki pages --------*/


/*-------search pages --------*/
#searchFields {
  width: 95%;
  padding: 15px;
}
/*-------end search pages --------*/






/* ------Buttons------ */
.btn {
    font-size:12px;
    padding: 4px 10px;
    // line-height:1px;
}

.btn-default {
  background: #bbbfc1;
  color: #1a1a1c;
  border: 0px;
  border-radius: 2px;
}

.btn-primary {
    background-color: #2b2d3a;
    border-color: #383A4F;
}

.btn-warning {
  background-color: #d09747;
  border-color: #d09747;
}

.btn-collapse {
    font-size: 15px;
    font-weight:bold;
    height: 40px;
    border-radius: 5px 5px 0px 0px;
    background: #383A4F;
    border: black;
    color: #d1d2d3;
    padding: 15px 15px 35px 15px;
    width: fit-content;
    text-align:left;
}

button,  select {
    color: #d1d2d3;
}

.input-button {
  background: #e6e6e6;
}

.fa-trash {
  color: $light-words-color;
}

/* ------End Buttons------ */



/* ------Header & Nav------ */

.header-wrap {
     background-position: 50% 100%;
     min-height: 170px;
}

.title-wrap {
 background-color: transparent;
}


.site-title a, .site-title a:hover, .site-title a:active {
    font-family: "Libre Baskerville";
    font-variant: small-caps;
    font-size:1.5em;
    letter-spacing:3px;
    line-height: 1;
}

.site-subtitle {
    font-size: 1em;
    font-family: Verdana, Geneva, sans-serif;
    font-variant: small-caps;
    letter-spacing:1px;
}

.fs3-divider {
    background-color: #2E2F30;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #1A1B1C;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #1A1B1C;
    border-color: #1A1B1C;
}

.label-danger {
    background-color: #A9353E;
}

/* ------End Header & Nav------ */

/* ---------Jobs----------- */

.admin-only-reply, .admin-only-reply .markdown-editor {
    background-color: #494b61;
    border-color: #383a4f;
}

.inline-response {
    border: 1px solid #565353;
    padding: 20px;
}

.job-status-HOLD {
    background-color: #A31B1B;
}

.job-status-ASANA {
    background-color: #fa5858;
}

.job-status-OPEN {
    background-color: #448444;
}

.job-category-APP {
    background-color: #804c80;
}

.job-category-ALERT, .job-category-BUG {
    background-color: #C12020;
}

.job-category-REQ {
    background-color: gray;
}

.job-category-SPELL {
    background-color: #3E7499;
}

.job-category-LH {
    background-color: #4a90bf;
}

.job-category-PRP {
    background-color: #69a5a5;
}

.job-category-PLOT{
    background-color: #477878;
}

.job-category-SECRET{
    background-color: #3e5b5b;
}

.job-category-BUILD{
    background-color: #640404;
    color: white;
}

.job-category-CODE{
    background-color: orange;
}

.job-category-SYS{
    background-color: #5bc0de;
}

.job-category-PLAYER{
    background-color: #fef64a;
    color: black;
}

.job-category-LUCK{
    background-color: #068431;
}

/* ---------End Jobs----------- */



/* ------ Sidebar ------------- */
.sidebar-heading h2 {
    padding: 0px;
    padding-bottom: 5px !important;
    color: #afadad;
    border: 0px;
    margin-top: 10px;
}

.sidebar-box {
    line-height: 1.5em;
    border-top: 1px solid #999;
}

.sidebar-box-right {
    border-left: 1px solid #999;
  }

/* ------ End Sidebar ------------- */

/* ---------Landing Page-------------- */
.jumbotron p {
    color: $light-words-color;
    font-size:16px;
    line-height: 1.5em;
}

.jumbotron .splash {
    font-size: 11px;
    font-style: italic;
  }

.jumbotron-tagline {
	display:none;
}

.jumbotron img {
    max-width: 75%;
    width: 500px;
    opacity: .8;
}

.plot-box {
  background:#2b2c31;
  padding: 5px 15px;
  font-size: 90%;
  text-align: initial;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  max-width: 80%;
  margin: auto;
}

.plot-box p {
  font-size: 90%;
}

.plot-box a {
  font-size: 90%;
  font-variant: small-caps;
}

.plot-title {
  font-style: bold;
  font-variant: small-caps;
}

/* ---------End Landing Page-------------- */

/* ---------Images-------------- */
.image-container.right img {
   float: right;
}

.image-container.left img {
   float: left;
}

.thumbnail {
    max-width: 225px;
    max-height: 225px;
}

.thumbnail-gallery {
    height: 250px;
    width: 250px;
}

/* ---------End Images-------------- */


/* ------Character pages--------- */

.comp{
  background-color: #383a4f;
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
}

.profile-box {
    color: #d1d2d3;
    background-color: #383A4F;
    border-radius: 10px;
    opacity: .8;
}

.profile-box .row {
    border-bottom: 1px solid #383A4F;
    margin: 3px;
}

.profile-title {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1em;
}

.char-profile-gallery {
    border-radius: 5px;
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
    height: 200px;
    width: unset;
    margin: 10px;
    border: 2px solid #dddddd6e;
  }

  .relationship-icon {
      object-fit: cover;

  }
    /* ---------  Sheet ------------- */
  .sheet_header {
      background-color: #383A4F;
      color: #d1d2d3;
      font-weight: normal;
      letter-spacing: 0.1em;
      padding: 5px 25px;
      margin: 15px;
      font-family: "Libre Baskerville";
      font-size: 1.5em;
      font-variant: small-caps;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      border: 0px;
  }

  div.rating-wrapper {
      width: 55%;
      float: right;
      text-align: right;
      display: inline-block;
  }

  div.rating-block {
      width: 90%;
  }

  div.rating-numeric, div.rating-alpha {
      width: 100%;
  }

  div.rating-numeric {
      display: inline-block;
  }

  div.rating-alpha {
      color: rgb(116, 139, 165);
      display: none;
  }

  .rating-fill {
      color: rgb(116, 139, 165);
      opacity: 0.8;
  }

  .rating-empty {
      color: rgb(116, 139, 165);
      opacity: 0.6;
  }

  .alpha-numeric-switch {
      cursor: pointer;
      padding: 0px;
  }

  .alpha-numeric-switch:hover {
      color: rgb(116, 139, 165);
  }

    /* --------- End Sheet ------------- */
/* ------ End Character pages--------- */



/*----------------   Live Play Pages ---------------- */

/*------- play sidebar ----------*/

.play-selector:hover {
    background-color: $main-purple;
    color: $light-words-color;
}

.play-sidebar:hover {
    overflow-y: auto;
}

.play-hint {
    font-style: italic;
}

.play-section-title {
    color: #fdf8f8;
}

.play-selector-active {
    background-color: #383a4f;
    color: #d1e3ee;
}

#sceneMenuCollapse {
  background: #292b2d;
}

a.markdown-control-toggle {
    font-size: 75%;
    border: 0px;
    margin: 0px;
  }

.markdown-preview {
  min-height: 100px;
}

/*------- end play sidebar ----------*/


/*------- textbox input --------*/
.scene-controls-box {
  background: #1A1B1C;
  border: 0px;
}

.textbox-input {
  background: $dark-gray-bg;
  margin-left: 5px;

  .text-ui {
    margin: 5px;
    border: 1px solid $main-purple;
    transition: .3s ease;
    border-radius: 2px;
    display: flex;
    flex-flow: row-reverse wrap;

    &:focus-within {
      transition: .3s ease;
      border: 1px solid $main-purple;
    }
  }

  .textbox-menu-options {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
    border-top: 1px solid #333;
    background: #222;

    .textbox-dropdowns {
      display: flex;
    }

    .nav.textbox-menu {
      display: flex;
      margin-right: 5px;

      li > a[role="button"] {
        padding: 0;
      }
    }
  }

  .textbox-input-header {
    // display: flex;
    // justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;

    .scene-pose-order {
      padding-top: 5px;
    }
  }

  .scene-pose-select, .scene-char-select {
    padding-top: 0;
    margin-right: 5px;
    }

  .textbox-buttons {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    padding: 10px 0;
  }

  .input-button {
    border: 0;
    background: none;
    text-transform: uppercase;
    color: $link-blue;
    white-space: nowrap;

    &:hover {
      color: $light-words-color;
      background-color: $main-purple;
    }

    &:focus {
      outline: none;
    }
  }

  textarea {
    margin: 0;
    padding: 10px;
    font-size: 14px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border: 0;
    // resize: none;
    width: 100%;
    background: none;
    box-sizing: border-box;
    height: 50px;
    min-width: 100%;

    &.scene-pose-box {
      height: 100px;
    }
    &:focus {
      border: 0;
    }
  }
}

/*------------end textbox input---------------------*/

.char-card {
  background: $dark-gray-bg;
  padding: 15px;
  opacity: .8;
  border-radius: 5px;
}

.live-scene-info  {
  font-size: 85%;
}

.live-scenes-heading, .unshared-scenes-heading {
  background: $main-purple;
  margin-bottom: 15px;
  background-image: linear-gradient(to right, #383A4F, #1a1b1c);
}

.markdown-preview {

}

.timestamp-tip {
    color: #999999;
    font-style: italic;
    font-weight: normal;
    font-size: 85%;
    margin-left: 0px;
}

.your-pose-order {
    color: #95d895;
}

#chat-window {
  border: 0px;
}

.chat-timestamp {
    color: #999999;
    font-size: 85%;
}

.chat-text p {
    margin: 0px 5px;
    border-bottom: 1px solid #414141;
    padding-bottom: 10px;
    padding: 0px 0px 15px 0px;
}

.chat-button-active {
    color: #1a1a1c !important;
    background-color: #ecedef !important;
}

.chat-button:hover {
  background-color: red;

}

.chat-button:active{
  background-color: blue;
}

.chat-button:focus{
  color: #1a1a1c;
  background-color: #b8b9c3;
}

.chat-button {
    background: #38394f;
    color: #d1d2d3;
    border: 0px;
    font-size: 95%;
}

#channelMenuCollapse {
  background: #38394f;
}

.chat-button:hover{
  background-color: #b8b9c3;
  color: #1a1a1c;
}

.ooc {
  background: #d6a09c9c;
  padding: 10px 10px 5px 10px;
  border-radius: 10px;
  margin: 5px;
  width: fit-content;
  border: 2px solid #d1d2d3;
  font-size: 90%;
  font-style: italic;
  overflow: hidden;
}

.scene-pose {
    padding: 0px;
    margin: 10px 10px 20px 10px
}

.scene-pose-box {
  margin: 15px;
}

.pose-divider {
    border-bottom: 1px solid #313335;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 0px;
  }

.scene-set-pose, .scene-ooc-pose {
    margin: 5px 20px 20px 20px;
    border: 0px;
    color: $light-words-color;
    padding: 5px;
    border-radius: 5px;
    padding-left: 40px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}



.scene-set-pose {
    background: $dark-gray-bg;
  }

.scene-ooc-pose {
    background: #252633;
    padding-top: 15px;
}

.scene-pose-header {
    padding-top: 10px;
    margin-bottom: 0px;
    border-color: #45484a;
}

.scene-log p, .scene-pose p {
  margin: 5px 35px 35px 0px;
  line-height: 1.6;
}

#live-scene-log {
    max-height: 575px;
}

.scene-set-pose p, .scene-ooc-pose p{
  margin: 15px 20px 20px 0px;
}

/*---------------- End Live Play Pages ---------------- */


/*---------------- Scene List & Logs ---------------- */
.scene-communication {
  background: #6f5bde;
}

.scene-journal {
    background-color: #DB5461;
}

.scene-ooc {
  background: #ea7d51;
}

.scene-meme {
  background: #a50472;
}

.scenes-tip {
  padding: 15px;
  font-style: italic;
  font-size: 90%;
}

.scene-log {
  border: 0px;
}

.scene-privacy-limited {
    background-color: #24805d;
}

.badge-likes {
    background-color: #99233A;
}

.ansi-blue-bg {
    background-color: #2A4C7C;
    padding-left: 4px
}

.ansi-red-bg {
    background-color: #a5514a;
    padding-left: 4px
}

.ansi-green-bg {
    padding-left: 4px
}44

/* ------Log Pages------ */
.log-wrap {
    background-position: 20% 40%;
    background-color: rgba(0, 0, 0, 0.25);
}

.log-box {
    color: $dark-words-color;
}

.log-box {
    background-color: #58585E;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    border-radius: 10px;
    color: #F9F9F9;
    line-height: 1.25em;
    opacity: .75;
}

.log-icon-container {
    width: 125px;
    height: 125px;
}

.log-icon-title-container {
    width: 125px;
}

.log-icon {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.small-profile-icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    margin: 2px;
}

.char-icon-container {
    padding: 0px;
}

/* ------ EndLog Pages------ */
/*---------------- End Scene List & Logs ---------------- */



/* ------------- Chargen -------------*/

.cg-tip {

    color: white;
    background: #555662;
    padding: 15px;
    border-radius: 10px;

}

.cg-subtle-tip {
   font-style: italic;
   margin: 15px;
}

.cg-tip-table {
    background: #555662;
   padding: 20px;
   border-radius: 10px;
}

/* ------------- End Chargen -------------*/




/*------------------- Mobile ---------------------*/
@media only screen and (max-width: 700px) {

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: $light-words-color;
  }

  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
      color: $light-words-color;
      background-color:$main-purple;
    }

    .textbox-input .textbox-buttons {
      display: unset;
    }

    .ember-power-select-trigger {
      margin: 10px;
    }

  .navbar-collapse.in {
    background: $dark-gray-bg;
  }
    table {
        width: 100%;
    }

    .toc {
        width: 100%;
    }
    .topicbox {
        width: 100%;
    }

    #channelMenuCollapse {
      background: #ffffff;
      color: #1a1a1c;
      top: -4px;
    }

    .chat-button {
      background: #ecedef;
      color: unset;
    }
  .dropdown-toggle{
    color: #778dc0;
  }

.dropdown, .dropup {
      position: relative;
  }
}

/*------------------- End Mobile ---------------------*/
