<h1>Delete Page</h1>

<div class="alert alert-danger">Deleting a page is permanent.  There is no undo.  Are you sure?</div>

    <div class="row">
        <div class="col col-xs-12">
            <div class="pull-right">
    
    <p> <a href="/wiki/<%= @page.name %>" class="btn btn-default">Cancel</a>  <a href="/wiki/<%= @page.name %>/delete/confirm" class="btn btn-primary" type="submit">Delete</a> </p>
    
</div>
</div>
</div>