<h1>Character Generation</h1>

<p>The online character creation tool will guide you through creating your character.</p>

<form method="POST" action="/chargen">

    <div class="panel panel-warning">

        <div class="panel-heading">
            Save Progress
        </div>

        <div class="panel-body">

            <p>Changes you make here are not made in-game until you click the <b>Save</b> button or switch tabs.  Use the <b>App Status</b> tab to make sure there are no issues with your character and to submit them for approval when you're done. </p>

            <p>
                <button type="submit" name="save" class="btn btn-warning">Save</button>
            </p>

        </div>
    </div>


    <button type="submit" name="tab" value="app" class="btn btn-primary">App Status</button>



    <%= erb :"/chargen/chargen_app" %>
    <%= erb :"/chargen/chargen_demo" %>

</form>
