<div class="panel panel-info <% if @params[:tab] != "hooks" %> hidden <% end %>">
    
    <div class="panel-body">
                            
        <p class="cg-tip">To help you flesh out your character, FS3 requres you to set RP Hooks.  These are interesting things about your character that others can "hook" into for RP. This could be an odd personality quirk, a reputation your character has, or anything else that might inspire someone to connect with you.  Looking around at other character's sheets can be a good way to get inspiration for RP Hooks.</p>
        <p class="cg-tip">Replace 'hook slot #' with the name of your hook and fill in the description.  To remove a hook, just leave its description blank.</p>

        <% @hooks.each_with_index do |(name, desc), i| %>
        <div class="form-group row">
            <input type="text" name="hook-name-<%= i %>" size="20" class="col-xs-2 col-form-label" value="<%= name %>" />
            <input type="text" name="hook-desc-<%= i %>" size="100" value="<%= desc %>" />
        </div>
        <% end %>
        
        
    </div>
</div>