<h1>Who's Online</h1>

<table class="table table-striped">
    <% @who.sort_by { |c| c.name }.each do |c| %>
    <tr>
        <td> <%= erb :"/avatar", :locals => { char: c } %> </td>        
    </tr>
    <% end %>
</table>


<p>There are <%= @scenes.count %> active scenes.</p>