<div class="panel panel-info">
    
    <div class="panel-heading">
        Specialties
    </div>
    
    <div class="panel-body">
        <p class="cg-tip">Some action skills require a specialty. See <a href="http://aresmush.com/fs3/fs3-3/chargen/#action-skills">FS3 Action Skills</a> for details.</p>
        <p class="alert alert-info">You only need a specialty if your rating is Fair or higher.</p>
        <% @fs3_specialties.each_with_index do |(name, specialties), i| %>
        <br/> <b><%= name %>: </b> 
        <% specialties.each do |spec| %>
        <input type="checkbox" name="spec-<%= i %>[]" value="<%= spec %>" 
        <% if @fs3_current_specialties[name] && @fs3_current_specialties[name].include?(spec) %> checked <% end %>> <%= spec %> 
        <% end %>
        <% end %>
        
    </div>
</div>