<h1>Character Generation</h1>

<p>To go through character generation, you must first create a character.  You can do this <a href="/help/connect">in the game</a> or through the web portal <a href="/register">register</a> feature.  One you have a character, log in to proceed.</p>