<h1>Create Plot</h1>

    <form method="POST" action="/plot/create">
        

    <p>
    <label for="title" class="col-xs-2 col-form-label">Title:</label>
    
    <input type="text" name="title" size="100" value=""/>
    </p>
    
   <p>
   <label for="summary" class="col-xs-2 col-form-label">Summary:</label>
   <textarea name="summary" rows="10"></textarea>
   </p>
        
    <p>
    <label for="description" class="col-xs-2 col-form-label">Description:</label>
    <textarea name="description" rows="30"></textarea>
    </p>


        <p> <a href="/plots" class="btn btn-default">Cancel</a>  <input class="btn btn-primary" type="submit" value="Save"> </p>
        
    </form>