<script src="/scripts/jquery.mark.min.js"></script>
<script src="/scripts/help.js"></script>

<input type="text" style="display:none" name="keyword" value="<%= @search %>"></input>

<div class="ansi" id="help">
    <%= @help %>
</div>

<hr/>
<p><a href="/help"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to Help</a></p>
