<h1>New Mail Message</h1>

    <form method="POST" action="/mail/send">
        <p><b>To:</b></p>
        <p><input type="text" name="to"></p>

        <p><b>Subject:</b></p>
        <p><input type="text" name="subject"></p>

        <textarea name="message"></textarea>
        <p><input type="submit"></p>
        
    </form>