<h1><%= @file %></h1>

<img src="/files/<%= @file %>" class="image-container" />


<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
        <a href="/file/delete?file=<%= @file %>" class="btn btn-warning">Delete</a>
        <a href="/file/rename?file=<%= @file %>" class="btn btn-default">Rename</a>
        </div>
    </div>
</div>
