<h1>Create New Page</h1>

<form method="POST" action="/wiki/create">

<p>
    <label for="name" class="col-xs-2 col-form-label">Page Name:</label>
    <input type="text" name="name" size="100" value="<%= @name %>"/>
</p>

    
    <p>
        <label for="title" class="col-xs-2 col-form-label">Title:</label>
        <input type="text" name="title" size="100" value="<%= @title %>"/>
    </p>

    <p>
        <label for="tags" class="col-xs-2 col-form-label">Tags:</label>
        <input type="text" name="tags" size="100" value=""/>
    </p>
    
    <textarea name="text" rows="20"></textarea>
    
        
    <div class="row">
        <div class="col col-xs-12">
            <div class="pull-right">
    
    <p> <a href="/wiki/" class="btn btn-default">Cancel</a>  <input class="btn btn-primary" type="submit" value="Create"> </p>
    
</div>
</div>
</div>
    
</form>
