@import 'colors';

/* -------------------------
BASIC CONTAINERS
------------------------- */

.container {
    background-color: $gutter-color;
    margin: 0;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    background-color: $gutter-color;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    padding: 0px;
}

.header-wrap
{
    background-image: url('/game/uploads/theme_images/background.png');
    background-size: cover;
    height: 200px;   
    background-position: center; 
}

.title-wrap
{    
    height: 149px;   
    color: $primary-words-color;
    padding: 10px;
    padding-left: 20px;    
    padding-top: 21px;
    margin: 0px;
    background-color: rgba(0, 0, 0, .25); 
}


.body-wrap
{
    padding: 0px 20px 0px 20px;
    background-color: $background-color;
}

.body-container {
    padding: 10px;        
}

.centered {
    text-align: center;
}

.thumbnail {
    max-width: 100px;
    max-height: 100px;
}

.thumbnail-gallery {
    height: 150px; 
    width: 150px;
    float:left;
}

.code-editor {
    font-family:Consolas,Monaco,Lucida Console,monospace;
    
}

.markdown-editor {
    padding: 0px;
    margin-bottom: 5px;
}

.markdown-controls {
    padding: 5px;
}

.app-status, #console, #console pre, code, #sendMsg, #sendMsg2 { 
    white-space: pre-wrap;
    background-color: black;
    color: white;
    font-family: "Lucida Console", Monaco, 'Andale Mono', 'Courier New', Courier, monospace;
    font-size: 14px; 
    padding: 10px;
}

code {
    background: none;
    color: $primary-color;
}


#console pre, #console p {
    padding: 0px;
    margin: 0px;
    border: none;
}

/* -------------------------
NAVIGATION
------------------------- */

a {
    color: $secondary-color;    
    text-decoration: none;
}

a:hover,
a:focus{
    color: $primary-color;
    text-decoration: none;
}

.user-bar { 
    padding-right: 10px;
}

.user-bar a {
    color: $primary-words-color;
}


.header-wrap nav
{
    background-color: rgba(0, 0, 0, .45);
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-inverse .navbar-nav>li>a {
    color: $primary-words-color;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: $secondary-color;
}

.navbar {
  z-index: 2000;
}

.navbar-collapse.in {
    background-color: #000;
}

/* -------------------------
GENERAL HTML ELEMENTS
------------------------- */


h1
{
    background-color: $primary-color;
    padding: .1em 1.2em;
    color: $primary-words-color;
    font-weight: normal;
    border: 3px solid $primary-outline-color;
    letter-spacing: 0.1em;
    -moz-border-radius: 0px 25px;
    -webkit-border-radius: 0px 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

h2
{
    padding-top: 20px;
    padding-bottom: 10px;
}


td {
        padding: 5px;
}


textarea.pre {
    font-family:Consolas,Monaco,Lucida Console,monospace;
}

pre {
    border: 0;
    padding: 0;
    white-space: pre-wrap;      
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;    
    white-space: -o-pre-wrap;  
    word-wrap: normal;   
    word-break: normal;  
    overflow-x:hidden; 
    overflow-wrap: normal; 
    background-color: inherit;
}


.ace-editor { 
    position: relative;
    height: 500px;
    width: 100%;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


blockquote{
	margin: 0.4em 0;
    width: 80%;
	padding: 10px;	
    font-size: 1em;
    background-color: $border-color;
    border: 0px;
    border-left: 1px solid $secondary-color;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}

pre code { 
	border: 2px solid $secondary-color;
    border-radius: 5px;
    font-size: 1em;
	margin: 0.4em 0;
    width: 700px;
    padding: 10px;
	overflow: auto;
    word-wrap: break-word;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}

th {
    background-color: $primary-color;
    color: $primary-words-color;
    padding: 8px;
}

td {
   border-bottom: 1px solid $border-color;
   padding: 8px;
}

textarea {
    width: 98%;
    padding: 5px;
    margin: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: $background-color;
    color: $text-color;
}


body {
    color: $text-color;
    background-color: $gutter-color;
}


form {
    padding-bottom: 50px;
    background-color: $background-color;
    color: $text-color;
}

input {
    background-color: $background-color;
    color: $text-color;
}


li hr { 
    margin: 2px;
    border-color: $secondary-color;
    border-width: 4px;
}


/* -------------------------
BOOTSTRAP OVERRIDES
------------------------- */

.navbar {
    margin-bottom: 0px;
}

.label-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 20rem;
}

.label-primary {
    background-color: $primary-color;
    color: $primary-words-color;
}
.nav-tabs>li>a {
    border: 1px solid $border-color;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: $primary-color;
    color: white;
}

.tab-content {
    border: 1px solid $border-color;
    border-top: 2px solid $primary-color;
    padding: 10px;
    min-height: 50px;
}

.panel {
    background-color: $background-color;
    border-color: $border-color;
}

.panel-default > .panel-heading {
    background-color: $border-color;
    border-color: $border-color;
}

.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
}

.btn-info { 
    background-color: $secondary-color;
    border-color: $secondary-color;
}

mark {
  padding: 0;
  background-color: orange;
  color: white;
}

.pull-right {
    padding: 10px;
}

.modal {
  z-index: 3000;
}

/* -------------------------
GOOGLE SEARCH OVERRIDES
------------------------- */

form.gsc-search-box {
    padding: 0px;
}


/* Fixes the search box icon */
.cse .gsc-search-button input.gsc-search-button-v2,
    input.gsc-search-button-v2 {
        height: 26px !important;
        margin-top: 0 !important;
        min-width: 13px !important;
        padding: 5px 26px !important;
        width: 68px !important;
    }

/* Placeholder text keeps getting chopped off, so just hide it.*/
input.gsc-input::placeholder {
    color: white;
}

table.gsc-search-box td {
    vertical-align: top !important;
    border: none;
    padding: 3px;
}

/* --------------------------
ALERTIFY DIALOGS
---------------------------*/

.alertify-notifier .ajs-message.ajs-success {
  background-color: $primary-color;
  color: $primary-words-color;
}

/* --------------------------
YOUTUBE MUSIC PLAYER
---------------------------*/

.musicplayer-button {
    cursor:pointer;
    border:none;
    background:transparent;
    outline:none;
    display:block; 
}

.musicplayer-frame, .musicplayer-preload  {
    width:1px;
    height:1px;
    overflow:hidden;
    position:absolute;
    display:inline 
}

.musicplayer-wrap {
    border-bottom: 1px solid $border-color;
    margin: 5px;
}

.musicplayer-description {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

/* -------------------------
HEADER
------------------------- */

.site-title {
    margin: 0px;
    font-size: 3em;
}

.site-subtitle {
    font-size: 1.2em;
}

.site-title a, .site-title a:hover, .site-title a:active
{
    color: $primary-words-color;
    text-decoration: none;
}


.user-bar {
    margin-top: 15px;
}

.loginDisplay
{
    text-align: right;
}

/* -------------------------
FOOTER
------------------------- */

.footer {
    font-size: 0.9em;
    color: $faded-text-color;    
    border-top: 1px solid $faded-text-color;
    margin-top: 40px;
    padding-top: 10px;
}


/* -------------------------
SIDEBAR
------------------------- */

.sidebar-box-left {
    border-right: 1px solid $border-color;
    padding-right: 10px;
}

.sidebar-box-right {
    border-left: 1px solid $border-color;
    padding-left: 10px;
}

.sidebar-box {
    border-top: 1px solid $border-color;
    margin: 2px;
    font-size: .9em;
}

.sidebar-heading {
    text-align: center;
    padding-bottom: 10px;
}

.sidebar-heading h2 {
    text-align: center;
    font-size: 1.5em;
    color: $faded-text-color;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.search-bar {
  padding: 10px;
}

/* -------------------------
GENERAL UTILITIES
------------------------- */


.clearfix {
    clear: both;
}

.small-profile-icon {
    width: 50px;
    height: 50px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    margin: 2px;
}

.icon-row img {
  margin-left: 20px;
}

.faded {
  background-color: gray;
  opacity: 0.4;
  filter: alpha(opacity=40);  
}

.inline-response {
    border: 1px solid $border-color;
    margin: 20px;
    padding-left: 20px;
    margin-top: 30px;
}

.inline-response form {
    padding-bottom: 20px;
}

.hint { 
    color: $faded-text-color;
    font-style: italic;
    font-weight: bold;
    padding-left: 10px;
}

.tinyhint { 
    color: $faded-text-color;
    font-style: italic;
    padding-left: 10px;
    font-size: .8em;
}

.image-container {
    padding: 5px;
    max-width: 100%;
}

.image-container img {
    max-width: 100%;
}

.image-container.center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-container.right img {
    display: block;
    margin-left: auto;
    margin-right: 0;
}



/* -------------------------
HOME SCREEN
------------------------- */

.jumbotron
{
    background-color: $background-color;
    font-weight: bold;
    text-align: center;
}

.jumbotron-image {
  height: 250px;
  max-width: 100%;
  background: url('/game/uploads/theme_images/jumbotron.png');
  background-size: cover;
  background-position: center; 
  margin: auto;
}

.jumbotron img {
   max-width: 70%;
   width: 400px;
}

.jumbotron-tagline
{
    font-size: 3em;
}

.container .jumbotron
{
    border-radius: 0px;
}

.splash-box {
    border-top: 1px solid $border-color;
    border-left: 1px solid $border-color;
    min-height: 200px;
}

.splash-heading {
    text-align: center;
    padding-bottom: 10px;
}

/* -------------------------
PLAY SCREEN
------------------------- */

#console
{
    height:400px;
    overflow-y:scroll;
}

#sendMsg, #sendMsg2
{
    width: 100%;
    height: 100px;
    border: 2px solid $border-color;
    margin: 0px;
    margin-top: 5px;
    border: 0px;
}
     
/* -------------------------
CHARGEN SCREEN
------------------------- */

.cg-tip { 
    color: $faded-text-color;
    font-style: italic;
    font-size: 1em;
}

.app-status{
    padding: 10px;
}

.fs3-divider {
    background-color: $border-color;
}


/* -------------------------
SCENES SCREEN
------------------------- */

.scene-pose {
    padding: 10px;
    margin: 15px;
}

.scene-pose-header {
    font-size: .8em;
    border-top: 1px dashed $border-color;
    padding-top: 10px;
    color: $faded-text-color;
    margin-bottom: 20px;
}

.scene-system-pose {
    margin-left: 25px;
    color: $faded-text-color;
    font-style: italic;
}

.scene-set-pose {
    margin-left: 25px;
    border-left: 1px solid $secondary-color;
    font-style: italic;
    padding: 0px 10px 10px 10px;
}

.scene-ooc-pose {
    margin-left: 25px;
    background-color: $log-icon-color;
    color: $log-icon-text-color;
    font-style: italic;
    padding: 0px 10px 10px 10px;
}

.scene-log {
    border: 1px solid $border-color;
    margin: 2px;
    padding: 10px;
}

#live-scene-log {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.log-icon-container {
    width: 150px;
    height: 150px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;    
    overflow: hidden;
    background: $log-icon-color;
}

.log-icon {
    max-width: 100%;
    min-height: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;    
}

.log-icon-title-container {
    width: 150px;
    background-color: $log-icon-color;
    z-index:98;
    position:relative;
    top: -19px;
    -moz-border-radius: 25px 0px;
    -webkit-border-radius: 25px 0px;
    border-bottom-left-radius: 25px;  
    border-bottom-right-radius: 25px;  
    opacity: 0.8;
    filter: alpha(opacity=80);  
    vertical-align: middle;
}
.log-icon-title {
    z-index:99;
    text-align: center;
    font-weight: bold;
    color: $log-icon-text-color;
}

.scene-event {
    background-color: #337ab7;
}

.scene-social {
    background-color: #5cb85c;
}

.scene-vignette {
    background-color: #f0ad4e;
}

.log-box { 

    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;    
}

.log-wrap {
    border-radius: 8px;
    border: 1px solid $primary-outline-color; 
    background-color: $background-color;
    margin:5px;
    padding:5px; 
    background-position:left top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url('/game/uploads/theme_images/box-bg.png');
}

.log-participants-box {
    padding-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.badge-likes {
    background-color: red;
}

.pose-divider {
    margin: 20px 25px 20px 25px;
    border: 1px solid #eee;
    align: center; 
}
    
/* -------------------------
CHARACTERS SCREEN
------------------------- */

.profile-gallery {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    width: 150px;
    
}

.profile-box { 

    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;    
}

.profile-box .row {
    border-bottom: 1px solid $border-color;
    margin: 10px;
    padding: 3px;
}

.profile-title {
    background-color: $primary-color;
    color: $primary-words-color;
    padding: 20px;
    margin: 0;
    font-size: 1.5em;
}

.profile-divider {
    background-color: $primary-color;
    color: $primary-words-color;
    padding: 5px;
    margin: 0;
}

.profile-wrap {
    border-radius: 8px;
    border: 1px solid $primary-outline-color; 
    background-color: $background-color;
    margin:5px;
    padding:15px; 
    background-position:left top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url('/game/uploads/theme_images/box-bg.png');
}

ul.char-ability-list { 
  list-style-type: square;  
}

.profile-image {
    width: 300px;
    margin: auto;
    display: block;
    border-radius: 4px;
    max-width: 100%;
}

.relationship-icon {
    max-width: 100%;
    min-height: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;       
}

.relationship-icon-container {
    width: 100px;
    height: 100px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;    
    overflow: hidden;
    background: $log-icon-color;
}

.relationship-title-container {
    text-align: center;
}

.relationship-row {
    margin: 10px;
    padding: 5px;
    border: 1px solid $border-color;
}

.status-message {
    color: white;
    background-color: $secondary-color;
    text-align: center;
}

.tab-cover {
    font-size: 2em;
    font-variant: small-caps;
    text-align: center;
}

.profile-tab { 
    padding-top: 15px;
    padding-bottom: 15px;
}

.char-scene-list {
    max-width: 50%;
    span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 100%;
    }
}

.relaedScenesList, .participantsList {
    margin-top: 20px;
    margin-bottom: 20px;
}

.file-image {
    max-width: 500px;
}

.upload-preview {
    max-width: 100px;
    max-height: 100px;
}

input[type='file'] {
  color: transparent;
}

/* -------------------------
CHAT SCREEN
------------------------- */

#chat-window {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-box {
  padding: 0px;
  margin: 0px;
}
.chat-button {
  width: 100%;
}

.timestamp-tip {
  color: $faded-text-color;
  font-style: italic;
  font-size: 1em;
}

.chat-button-active {
  color: $primary-words-color;
  background-color: $primary-color;
}

.chat-button-active:focus {
  color: $primary-words-color;
  background-color: $primary-color;
}

.chat-nav > li > a {
  padding: 0px;
}

/* -------------------------
JOBS SCREEN
------------------------- */

.job-filter {
  margin-left: 10px;
}

.job-status {
  background-color: gray;
}

.job-status-DONE {
    background-color: gray;
    color: white;
}

.job-status-NEW {
    background-color: yellow;
    color: black;
}

.job-status-OPEN {
    background-color: green;
    color: white;
}

.job-status-HOLD {
    background-color: red;
    color: white;
}

.job-category {
  background-color: gray;
}

.job-category-ACTIVE {
  background-color: #3498DB;
}

.job-category-MINE {
  background-color: #16A085;
}

.job-category-ALERT, .job-category-BUG {
  background-color: red;
  color: white;
}

.job-category-BUILD, .job-category-CODE {
  background-color: orange;
  color: black;
}

.job-category-APP {
  background-color: purple;
  color: white;
}

.job-category-APP, .job-category-REQ {
  background-color: purple;
  color: white;
}

/* -------------------------
OTHER
------------------------- */

.small-who-icon {
    float:left;
    padding:15px;
}

/*.char-scene-list li:before { content: "\2666  "; }*/

@media (max-width:992px)  { 

.profile-wrap { 
    padding: 10px; 
}

.profile-box { 
    padding: 10px;
    margin: 10px;
}

.log-wrap { 
    padding: 10px;
}

.log-box { 
    padding: 10px;
    margin: 10px;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}


.body-row 
{
  display: flex;
  flex-direction: column;
  
}

.left-sidebar {
  order: 2;
}

.right-sidebar {
  order: 2;
}

.left-body {
  order: 1;
}

.right-body {
  order: 1;
}


}

@import "custom_style";