$primary-color:#6b0c22;
$primary-outline-color:#011C26;
$primary-words-color:#ffffff;
$secondary-color:#467070;
$background-color:#ffffff;
$border-color:#dddddd;
$gutter-color:#cccccc;
$faded-text-color:#767676;
$log-icon-color:#000000;
$log-icon-text-color:#ffffff;
$text-color:#333333;
