$primary-color: #6B0C22;
$primary-outline-color: #011C26;
$primary-words-color: #ffffff;
$secondary-color: #588C8C;
$background-color: #ffffff;
$border-color: #dddddd;
$gutter-color: #cccccc;
$faded-text-color: #999999;
$log-icon-color: #000000;
$log-icon-text-color: #ffffff;
$text-color: #333333;