$primary-color:#203834;
$primary-outline-color:#284742;
$primary-words-color:#ECF0EF;
$secondary-color:#bec7c6;
$secondary-words-color: #171817;
$background-color:#171817;
$border-color:#3d5954;
$gutter-color:#2f302f;
$faded-text-color:#999999;
$log-icon-color:#203834;
$log-icon-text-color:#ECF0EF;
$text-color:#ECF0EF;
$box-background-color:#101c1a;
$box-words-color: #ECF0EF;