$primary-color:#732B1A;
$primary-outline-color:#8C3420;
$primary-words-color:#ebebeb;
$secondary-color:#f25e3d;
$secondary-words-color:#ebebeb;
$background-color:#0c1319;
$border-color:#3d5954;
$gutter-color:#595959;
$faded-text-color:#999999;
$log-icon-color:#164059;
$log-icon-text-color:#ebebeb;
$text-color:#ebebeb;
$box-background-color:#14202a;
$box-words-color:#ECF0EF;
