@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$body-font: "Open Sans", sans-serif;
$primary-font: "Big Shoulders Stencil", sans-serif;
$secondary-font: $body-font;