<script src="/scripts/file_upload.js"></script>

<% if @show_header %>
<h1>Upload a File</h1>
<% end %>

<form method="POST" action="/files/upload" enctype="multipart/form-data">

<div class="panel panel-info">
<div class="panel-body">
<div class="alert alert-warning">You must specify a filename.  To make your files easier to find and prevent filename collisions, it is suggested that you put the character/page name at the front (e.g. Faraday1.jpg).</div>

    <p>
    <label for="filename" class="col-xs-2 col-form-label">File Name:</label>

    <input type="text" id="filename" name="filename" size="25" value=""/>
    <input type="hidden" id="prefix" value="<%= @prefix %>" />
    </p>


    <p>
    <label for="allow_overwrite" class="col-xs-2 col-form-label">Overwrite?</label>

    <input type="checkbox" name="allow_overwrite" />
    </p>


<p>
<input type="file" id="fileselect" name="file"/>
<% if @redirect_url %>
<input type="hidden" name="redirect" value="<%= @redirect_url %>?<%= @params.map { |k, v| "#{k}=#{v}"}.join('&') %>" />
<% end %>
</p>
<br/>
<input type="submit" class="btn btn-primary" value="Upload">
</div>
</div>

</form>