$primary-color: #182334;
$primary-outline-color: #61718c;
$primary-words-color: #fff;
$secondary-color: #995800;
$background-color: #fff;
$border-color: #ddd;
$gutter-color: #ccc;
$faded-text-color: #999;
$log-icon-color: #182334;
$log-icon-text-color: white;
$text-color: #333;
$input-color: $text-color;
$input-background-color: $background-color;