<h1>Enabling and Disabling Plugins</h1>

<p>This screen lets you enable and disable select plugins.  Many plugins are core to the basic operation of the game.  They can be customized or replaced via code, but not disabled on this screen.</p>

<div class="alert alert-warning">Disabling a plugin does not completely remove it.  For more info and caveats, see <a href="https://aresmush.com/tutorials/config/plugins">Enabling and Disabling Plugins</a>.</div>

<form method="POST" action="/admin/config_plugins/update">


<div class="panel panel-primary">
    <div class="panel-heading">
        Optional Plugins
    </div>
    
    <div class="panel-body">
        <p>Un-check a plugin to disable it.</p>
        
        <% @plugins.sort.each do |p| %>
            <p>
            <input type="checkbox" name="plugins[]" value="<%= p %>"
            <% if !@disabled.include?(p) %> checked <% end %>> <%= p %>
            </input> 
            </p>
        <% end %>
    </div>
</div>


                    
    

<p>
<a href="/admin"><button type="button" class="btn btn-default">Cancel</button></a>
<button type="submit" class="btn btn-primary">Save</button>
</p>
</form>