<h1>Restricted Names</h1>

<p>This screen lets you configure names that players are not allowed to use.  For help see <a href="https://aresmush.com/tutorials/config/names/">Configuring Restricted Names</a>.</p>

<form method="POST" action="/admin/config_names/update">

<div class="panel panel-primary">
    <div class="panel-heading">
        Restricted Names
    </div>
    
    <div class="panel-body">
        <p>List names that you don't want people to be able to use, one per line.</p>
        
        <textarea name="restricted_names" rows="10"><%= @names['restricted'].join("\n") %></textarea>
        
    </div>
</div>

<p>
<a href="/admin"><button type="button" class="btn btn-default">Cancel</button></a>
<button type="submit" class="btn btn-primary">Save</button>
</p>
</form>