<div class="ansi">
    <table class="table">
        <tr><th>Date</th>
            <th>Description</th>
            <th>Severity</th>
        <tr/>
        
          <% @char.damage.to_a.each do |d| %>
          <tr>
              <td><%= d.ictime_str %></td>
              <td><%= d.description %></td>
              <td><%= display_damage_severity(d.initial_severity) %></td>
           </tr>
          <% end %>
         </table>
</div>