<h1>Combats</h1>

<p>The combat directory lists active combats and allows you to view combat status in a web page rather than typing 'combat' over and over in your MUSH window.  Organizers can also perform some setup activities via the web.</p>

<table class="table table-striped">
<tbody>
<% @combats.each do |c| %>
<tr><td>
    <a href="/combat/<%= c.id %>"><%= c.id %></a>
</td>

<td>
    <%= c.organizer.name %>
</td>
</tr>
<% end %>
</tbody>
</table>