<div class="panel panel-primary">
                
    <div class="panel-body">
                    
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-body"  id="chat-body">
                        <ul id="chat-messages">
                            <%
                            # The below block is only used for loading historical
                            # saved data, not the Faye data!
                            %>
                            <% @saved_data.each do |data| %>
                            <li><b>[<%= data[:channel]%>]</b> <%= data[:message] %></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
                    
        <div class="row">
            <form id="chat-message">
                        
                <div class="form-group col-md-2">
                    <label for="channel">Channel</label>
                    <select name="channel" id="chat-channel" class="form-control">
                        <option>Chat</option>
                        <option>Questions</option>
                    </select>
                </div>

                <div class="form-group col-md-9">
                    <label for="message">Message</label>
                    <textarea name="message" id="chat-message" class="form-control"></textarea>
                </div>

            </form>
                                          

            <div class="col-md-1">
                <button id="chat-submit" class="btn btn-success">Send</button>
            </div>
                                             
        </div>
        
                      
        
    </div>
                    
</div>