<div class="panel panel-primary">
                
    <div class="panel-body">
                    
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-info">
                    <div class="panel-heading">Somewhere Out There</div>
                    <div class="panel-body">             
                        A description of a room.           
                        
                        <hr/>
                <div>
                            <b>Exits:</b>
                        <button id="direction" class="btn btn-primary">N</button>
                        <button id="direction2" class="btn btn-primary">S</button>
                        <button id="direction3" class="btn btn-primary">E</button>
                        <button id="direction4" class="btn btn-primary">W</button>
                    </div>
                        <hr/>
                    
                    <div>
                            <b>Characters:</b>
                        <a href="/">Faraday</a>                <a href="/">Bob</a>

</div>
                        
                    </div>
                </div>

                
                <div class="panel panel-primary">
                    <div class="panel-body" id="game-body">
                        <%
                        # The below block is only used for loading historical
                        # saved data, not the Faye data!
                        %>
                        <% @game_data.each do |data| %>
                        <p><%= data %> </p>
                        <% end %>
                    </div>
                </div>
               
            </div>
        </div>
                    
        <div class="row">
            <hr/>
            <form id="game-message">
                        
                <div class="form-group col-md-11">
                    <label for="message">Input</label>
                    <textarea name="message" id="game-message" class="form-control"></textarea>
                </div>

            </form>
                                          

            <div class="col-md-1">
                <button id="game-submit" class="btn btn-success">Send</button>
            </div>
                                             
        </div>
        
                      
        
    </div>
                    
</div>