<div class="panel panel-primary">
                
    <div class="panel-body">
                    
        <div class="row">
            <div class="col-md-12">
                                  
                <div id="help-body">  
                   <%= erb(:help_list, :layout => false, :locals => { :help_data => @help_data }) %>
                
                </div>                
            </div>
        </div>
    </div>
</div>
