<!DOCTYPE html>
<html>
<head>
    <title>AresMUSH</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="http://localhost:9292/faye/client.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="jquery-ui-1.11.4/jquery-ui.min.css">
    <script src="jquery-ui-1.11.4/external/jquery/jquery.js"></script>
    <script src="jquery-ui-1.11.4/jquery-ui.min.js"></script>
    <script src="jquery.bootstrap-growl.min.js"></script>

    <link rel="stylesheet" type="text/css" href="ares.css">

    <script type="text/javascript">
    var faye_client = new Faye.Client( 'http://localhost:9292/faye' );

    faye_client.subscribe( '/notice', function( data ) {
        
        $.bootstrapGrowl(data['message'], { type: "warning" });
        
    });

    faye_client.subscribe( '/chat', function( data ) {
        var msg = data['message'];
        var channel = data['channel'];
        var div = $( 'ul#chat-messages').append( '<li><b>[' + channel + "]</b> " + msg  + '</li>' );      
        $('#chat-body').stop().animate({ scrollTop: $('#chat-body')[0].scrollHeight }, 800);
          
    });

    faye_client.subscribe( '/room', function( data ) {
        var div = $( '#game-body').append( '<p>' + data  + '</p>' );      
        $('#game-body').stop().animate({ scrollTop: $('#game-body')[0].scrollHeight }, 800);
          
    });
    
    faye_client.subscribe( '/who', function( data ) {
        var div = $( '#who-body');
        div.html( data  );         
        $.bootstrapGrowl('new who data', { type: "warning" });
               
    });
          
          
    faye_client.subscribe( '/help', function( data ) {
        var div = $( '#help-body');
        div.html( data  );         
    });
    
    </script>

    <script type="text/javascript">
    $( document ).ready( function() {
        
        var tabs = $("#container-1").tabs();
        var tabCounter = 1;
        
        $( 'button#chat-submit' ).click( function() {
            $.post('/chat',
            $( 'form#chat-message' ).serialize(),
            function() {
                $( 'textarea#chat-message' ).val( '' );
            });
        });

        $( 'button#game-submit' ).click( function() {
            $.post('/game',
            $( 'form#game-message' ).serialize(),
            function() {
                $( 'textarea#game-message' ).val( '' );
            });
        });

        $( 'button#who-submit' ).click( function() {
            var response = $.post('/who');
        });
        
        $( 'button#help-submit' ).click( function() {
            var response = $.post('/help');
        });

    });
    </script>
</head>

<body>
    <div class="container">
        <h1>AresMUSH</h1>
        <p class="lead">Web MUSH Client</p>


        <div class="row">
          
         
          
            <div class="col-md-12">
              
              
              <div id="container-1">
                  <ul>
                      <li><a href="#tab-game">Game</a></li>
                      <li><a href="#tab-chat">Chat</a></li>
                      <li><a href="#tab-who">Who</a></li>
                      <li><a href="#tab-map">Map</a></li>
                      <li><a href="#tab-help">Help</a></li>
                  </ul>
            <div id="tab-game">
                  
                
                <%= erb(:game, :layout => false) %>
                
            </div>
            
        
            <div id="tab-chat">
                  <%= erb(:chat, :layout => false) %>
            </div>
        
            <div id="tab-who">

                  <%= erb(:who, :layout => false) %>
                  
            </div>
            
            <div id="tab-map">

                  
                  
            </div>
            
            <div id="tab-help">

                  <%= erb(:help, :layout => false) %>
                  
                  
            </div>
                        
        </div>
        
    </div>
        
        
        
        <div class="row">
          
            <div class="col-md-12">
              
                
            </div>
              
        </div>
              
    </div>

</div>
</div>
        
</div>
</body>
</html>