<% if char %>

  <% if char.icon %>
  <a href="/char/<%= char.id %>">
    <img class="small-profile-icon" src="<%= char.icon %>" />
   </a>
 <% end %>
 
 <a href="/char/<%= char.id %>">
     <%= char.name %>
  </a>
<% end %>