<% if char %>

  <% if char.icon %>
  <a href="<%= char_page_url(char) %>">
    <img class="small-profile-icon" src="<%= char.icon %>" />
   </a>
 <% end %>
 
 <a href="<%= char_page_url(char) %>">
     <%= char.name %>
  </a>
<% end %>