b                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="gamenav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Game <span class="caret"/></a>
                    <ul class="dropdown-menu">
                        <li><a href="/wiki/getting-started">Getting Started</a></li> 
                        <li><a href="/wiki/what-should-i-play">What Should I Play?</a></li> 
                        <li><a href="/wiki/policies">Policies</a></li> 
                        <li><a href="/wiki/theme">Theme</a></li> 
                    </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="storynav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Story <span class="caret"/></a>
                    <ul class="dropdown-menu">
                        <li><a href="/scenes">Scenes</a></li> 
                        <li><a href="/wiki/story-so-far">Story So Far</a></li> 
                        <li><a href="/wiki/operations">Operations</a></li> 
                        <li><a href="/wiki/scuttlebutt">Scuttlebutt</a></li> 
                    </ul>
                </li>
