<title><%= @page_title %></title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/ee2438614b.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
       
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.10.0/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.10.0/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.10.0/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.10.0/css/themes/bootstrap.min.css"/>


<link rel="stylesheet" type="text/css" href="/styles/ansi.css">
<link rel="stylesheet" type="text/css" href="/styles/style.css">
<link rel="stylesheet" type="text/css" href="/styles/custom_style.css">

<link rel="shortcut icon" href="/images/favicon.ico">

<!-- JQuery fallback -->

<script>window.jQuery || document.write('<script src="/scripts/jquery.min.js"><\/script>')</script>

<!-- JQuery UI fallback -->

<script>window.jQuery.ui || document.write('<script src="/scripts/jquery-ui.js"><\/script>')</script>


<!-- Bootstrap JS local fallback -->
  <script>if(typeof($.fn.modal) === 'undefined') {document.write('<script src="/scripts/bootstrap.min.js"><\/script>')}</script>


<script src="/scripts/alertify.min.js"></script>
<script src="/scripts/config.js"></script>
<script src="/scripts/notify.js"></script>
<script src="/scripts/ansi.js"></script>
<script src="/scripts/ansi_up.js"></script>

<script>
$( function() {
    $( "#tabs" ).tabs();
} );
</script>

<meta name="viewport" content="width=device-width, initial-scale=1">

