        <div class="jumbotron">
            <img src="/images/jumbotron.png" />
            <div class="jumbotron-tagline"><%= @website_tagline %></div>
            <p><%= @website_welcome %></p>
            <p>This is the <b>Web Portal</b>, which integrates directly with the game to let you create a character, play from the web, read bulletin boards and scenes, access help files and more.  You can also visit the game's main website at <a href="<%= game_website %>"><%= game_website %></a>.
        </div>
        
