<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>



          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="playnav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Play <span class="caret"/> </a>
              <ul class="dropdown-menu">
                  <li><a href="/chargen">Character Creation</a></li>
                  <li><a href="/play">Web Client</a></li>
                  <li><a href="/who">Who's Online</a></li>
              </ul>
          </li>
             
                 <%= erb :"game_nav" %>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dirnav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Directory <span class="caret"/> </a>
                    <ul class="dropdown-menu">
                        <li><a href="/chars">Characters</a></li>
                        <% if AresMUSH::Idle.roster_enabled? %>
                        <li><a href="/roster">Roster</a></li>
                        <% end %>
                        <li><a href="/actors">Actors</a></li>
                        <li><a href="/census">Census</a></li>
                        <li><a href="/players">Players</a></li>
                        <li><hr></li>
                        <li><a href="/scenes">Scenes</a></li>
                        <li><a href="/combat">Combats</a></li>
                        <li><a href="/locations">Locations</a></li>
                        <li><hr></li>
                        <li><a href="/bbs">Boards</a></li>
                        <li><a href="/events">Events</a></li>
                        <li><hr></li>
                        <li><a href="/files">Files</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="helpnav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Help <span class="caret"/> </a>
                    <ul class="dropdown-menu">
                        <li><a href="/help/web_portal">Web Portal Help</a></li>
                        <li><a href="/help">Game Commands</a></li>
                        <li><a href="/help/markdown">Markdown Reference</a></li>
                        <li><a href="http://aresmush.com/mush-101" target="_blank">What is a MUSH? <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
                    </ul>
                </li>

                <% if is_admin? %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dirnav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"/></a>
                    <ul class="dropdown-menu">
                        <li><a href="/jobs">Jobs</a></li>
                        <li><a href="/admin">Setup</a></li>
                        <li><a href="/admin/logs">Logs</a></li>
                        <li><a href="/admin/tinker">Tinker</a></li>
                    </ul>
                </li>
                <% end %>
            </ul>

        </div>
    </div>
</nav>
