
<script src="/scripts/play.js"></script>
<script src="/scripts/ansi_up.js"></script>

<h1>Web Client</h1>

<p>The web client lets you play the game from a web browser.</p>

<div class="alert alert-warning">If you reload or leave this page, it will close your connection to the game.</div>

<div>
        <button class="connectButton btn btn-success">Connect</button>
        <button class="btn btn-default" onclick=" window.open('/help','_blank')">Help</button>
        <button class="whoButton btn btn-default">Who</button>
        <button class="disconnectButton btn btn-danger">Disconnect</button>

</div>
        
        <div id="console"></div>
        
        <textarea id="sendMsg"></textarea>
        <button class="sendButton btn-primary btn">Send Text</button>

        <textarea id="sendMsg2"></textarea>
        <button class="sendButton2 btn-primary btn">Send Text</button>
        <div id="debug"></div>
        
        