<div class="sidebar-box" style="margin-bottom:0px">

<script>
  (function() {
    var cx = '006109472892303620439:paddz2l6vwq';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>

<gcse:searchbox-only newWindow=true></gcse:searchbox-only>

</div>
