                    
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="wikinav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Wiki <span class="caret"/></a>
                    <ul class="dropdown-menu">
                        <li><a href="/wiki/home">Home</a></li> 
                        <li><a href="/wiki/tags">Tags</a></li>
                        <li><a href="/wiki/all">All Pages</a></li>
                        <li><hr></li>
                        <li><a href="/wiki/create">New Page</a></li>
                        <li><a href="/files">Files</a></li>
                    </ul>
                </li>
                                