<div class="alert alert-info">
  This is an archive of the <%= mush_name %> web portal.  Some links may not function and wiki pages may not format perfectly, but you can access most of the information.
</div>

<div class="jumbotron">
  <img src="game/uploads/theme_images/jumbotron.png" />
  
  <p><%= welcome_text %></p>
</div>