<% if char %>

    <a href="<%= char_page_url(char) %>">
    <img class="small-profile-icon" src="<%= icon_for_char(char) %>" />
    </a>
 
 <a href="<%= char_page_url(char) %>">
     <%= char.name %>
  </a>
<% end %>