<div class="char-icon-container">
    
<div class="log-icon-container">
    <a href="<%= char_page_url(char) %>">
        <img class="log-icon" src="<%= icon_for_char(char) %>" />
    </a>
</div>

<div class="log-icon-title-container">
    <div class="log-icon-title">
     <%= char.name %>
    </div>
</div>

</div>