                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="storynav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Story <span class="caret"/></a>
                    <ul class="dropdown-menu">
                        <li><a href="/scenes">Scenes</a></li> 
                        <li><a href="/wiki/story-so-far">Story So Far</a></li> 
                        <li><a href="/plots">Operations</a></li> 
                        <li><a href="/wiki/scuttlebutt">Scuttlebutt</a></li> 
                    </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="themenav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Theme <span class="caret"/></a>
                    <ul class="dropdown-menu">
                        <li><a href="/wiki/theme:cylon-uprising">Cylon Uprising</a></li> 
                        <li><a href="/wiki/theme:colonial-forces">Colonial Forces</a></li> 
                        <li><a href="/wiki/theme:timber-wolves">Timber Wolves</a></li> 
                        <li><hr/></li> 
                        <li><a href="/wiki/theme:ranks">Ranks</a></li> 
                        <li><a href="/wiki/theme:training">Training</a></li> 
                        <li><a href="/wiki/theme:regulations">Regulations</a></li> 
                        <li><a href="/wiki/theme:uniforms">Uniforms</a></li> 
                        <li><a href="/wiki/theme:awards">Awards</a></li> 
                        <li><a href="/wiki/theme:ships">Ships</a></li> 
			<li><hr/></li>
                        <li><a href="/wiki/theme:twelve-colonies">Twelve Colonies</a></li> 
                        <li><a href="/wiki/theme:culture">Culture</a></li> 
                        <li><a href="/wiki/theme:unification">Unification</a></li> 
                        <li><a href="/wiki/theme:colonial-conflicts">Colonial Conflicts</a></li> 
                        <li><a href="/wiki/theme:icjpk">ICJPK</a></li> 
                        <li><a href="/wiki/theme:languages">Languages</a></li> 
                        <li><a href="/wiki/theme:player-contributions">Player Contributions</a></li> 
                    </ul>
                </li>
