<!DOCTYPE html>
<html>
<head>
    <title>AresMUSH</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


   <!-- 
    <link rel="stylesheet" href="/javascripts/jquery-ui-1.11.4/jquery-ui.min.css">
    <script src="/javascripts/jquery-ui-1.11.4/external/jquery/jquery.js"></script>
    <script src="/javascripts/jquery-ui-1.11.4/jquery-ui.min.js"></script>
    <script src="/javascripts/jquery.bootstrap-growl.min.js"></script>
    -->
       
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 

    <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <h1 class="site-title">AresMUSH</h1>
            </div>
            <div class="col-md-6 text-right user-bar">
            
            </div>
        </div>
        
        <div class="row">
          
            <div class="col-md-12">
              
                        
                        
            <nav class="navbar navbar-inverse">
                <ul class="nav navbar-nav">
                  <li><a href="/">Home</a></li>
                  <li><a href="http://www.aresmush.com">About</a></li> 
                </ul>
            </nav>
                            
                <%= yield %>
              
            </div>
                                      
        </div>
        
    
      <div class="row">
          <div class="col-md-12 footer">
              Running AresMUSH.
           </div>
      </div>
              
    </div>
    
</body>
</html>

